openapi: 3.0.1

info:
  contact:
    email: info@berlin-group.org
    name: The Berlin Group - A European Standards Initiative
    url: https://www.berlin-group.org/
  description: |
    This specification foresees different types of account information services:
    * Transaction lists for a given account with transactions with booking status booked or pending including balances if applicable,
    * List of standing orders of a given account, reported as transactions with booking status information,
    * Balances of a given account,
    * A list of addressable accounts,
    * Account details of a given account or of the list of all accessible accounts relative to a granted consent, and
    * Account details might include the account owner name, where specific requirements on the consent process might apply, see below.
    Hereby the definition of the list of addressable and accessible accounts is as follows:
    Definition: The list of addressable accounts of an ASPSP related to a PSU is the list of accounts of a PSU which are open for access through the XS2A API according to the definition 
    of payment accounts provided by [PSD2].
    Definition: The list of accessible accounts of an ASPSP related to a PSU's consent is the list of accounts, where the consent of the PSU has been granted to at least one of the 
    defined account information types. 
    Note: The Read Data Request for the list of addressable accounts and for account details of a given account is syntactically identical. 
    The difference is only in the underlying consent resource, referred to through the HTTP header parameter \"Consent-ID\".
    Example: An ASPSP is providing IBAN1 and IBAN2 to a PSU. The PSU has granted the TPP the consent to access transactions and balances of IBAN1 only. In this case, the addressable accounts are IBAN1 and IBAN2, the list of accessible accounts consists only of IBAN1.
  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines - Account Information Service
  version: "2.3"
  x-references:
    documents:
      - document:
        title: openFinance API Framework Data Dictionary
        version: "2.3.1"
      - document:
        title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
        version: "2.3"

externalDocs:
  description: |
    openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
  url: https://www.berlin-group.org/openfinance-downloads

servers:
  - url: https://api.testbank.com/psd2
    description: PSD2 server
  - url: https://test-api.testbank.com/psd2
    description: Optional PSD2 test server

tags:
  - name: Account Information Service (AIS)
    description: |
      The component for Account Information Service (AIS) offers the following information services:
      * Transaction lists for a given account with transactions with booking status booked or pending including balances if applicable,
      * List of standing orders of a given account, reported as transactions with booking status information,
      * Balances of a given account,
      * A list of addressable accounts,
      * Account details of a given account or of the list of all accessible accounts relative to a granted consent, and
      * Account details might include the account owner name, where specific requirements on the consent process might apply.

paths:
  /v2/accounts:
    get:
      summary: Read Account List
      description: | 
        Reads a list of current accounts, with balances where required.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Account List\".
      operationId: getAccountList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/QUERY_withBalance'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISACCOUNTLIST'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/accounts/{account-id}:
    get:
      summary: Read Account Details
      description: | 
        Reads details about a current account, with balances where required.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Account Details\".
      operationId: getAccountDetails
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/QUERY_withBalance'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISACCOUNTDETAILS'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/accounts/{account-id}/balances:
    get:
      summary: Read Account Balance
      description: | 
        Reads balance data from a given current account addressed by \"account-id\".
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Balance\".
      operationId: getAccountBalance
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISACCOUNTBALANCE'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/accounts/{account-id}/transactions:
    get:
      summary: Read Transaction List
      description: | 
        Reads account transaction data from a given account addressed by \"account-id\". 
        This can be either booked or pending transactions or a list of standing orders as further transactional information.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Transaction List\".
      operationId: getAccountTransactionList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/QUERY_dateFrom'
        - $ref: '#/components/parameters/QUERY_dateTo'
        - $ref: '#/components/parameters/QUERY_entryReferenceFrom'
        - $ref: '#/components/parameters/QUERY_bookingStatusGeneric'
        - $ref: '#/components/parameters/QUERY_deltaList'
        - $ref: '#/components/parameters/QUERY_withBalance'
        - $ref: '#/components/parameters/QUERY_cardBrand'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISACCOUNTTXLIST'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/accounts/{account-id}/transactions/{transactionId}:
    get:
      summary: Read Transaction Details
      description: | 
        Reads transaction details from a given transaction addressed by \"transactionId\" on a given account addressed by \"account-id\". 
        This call is only available on transactions as reported in a JSON format.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Transaction Details\".
      operationId: getAccountTransactionDetails
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/PATH_transactionId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISACCOUNTTXDTLS'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/card-accounts:
    get:
      summary: Read Card Account List
      description: | 
        Reads a list of card reconciliation accounts with additional information, e.g. balance information.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Card Account List\".
      operationId: getCardAccountList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISCARDACCOUNTLIST'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/card-accounts/{account-id}:
    get:
      summary: Read Card Account Details
      description: | 
        Reads details about a card reconciliation account.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Card Account Details\".
      operationId: getCardAccountDetails
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISCARDACCOUNTDETAILS'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/card-accounts/{account-id}/balances:
    get:
      summary: Read Card Account Balance
      description: | 
        Reads balance data from a given card reconciliation account addressed by \"account-id\". 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Card Account Balance\".
      operationId: getCardAccountBalance
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISCARDACCOUNTBALANCE'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/card-accounts/{account-id}/transactions:
    get:
      summary: Read Card Account Transaction List
      description: | 
        Reads account data from a given card reconciliation account addressed by \"account-id\".
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Read Card Account Transaction List\".
      operationId: getCardAccountTransactionList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_accountId'
        - $ref: '#/components/parameters/QUERY_dateFrom'
        - $ref: '#/components/parameters/QUERY_dateTo'
        - $ref: '#/components/parameters/QUERY_bookingStatusCard'
        - $ref: '#/components/parameters/QUERY_deltaList'
        - $ref: '#/components/parameters/QUERY_cardBrand'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_consentId_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_AISCARDACCOUNTTXLIST'
        '400':
          $ref: '#/components/responses/decline_400_AIS'
        '401':
          $ref: '#/components/responses/decline_401_AIS'
        '403':
          $ref: '#/components/responses/decline_403_AIS'
        '404':
          $ref: '#/components/responses/decline_404_AIS'
        '405':
          $ref: '#/components/responses/decline_405_AIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_AIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '429':
          $ref: '#/components/responses/decline_429_AIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'


components:
  securitySchemes:
    BearerAuthOAuth:
      description: |
        Bearer Token. 
        Is contained only, if an OAuth2 based authentication was performed in a pre-step or 
        an OAuth2 based SCA was performed in a preceding AIS service in the same session.
      type: http
      scheme: bearer
  schemas:
    Max2048Text:
      type: string
      maxLength: 2048
      example: 'Text, maximum of 2048 characters.'
    references:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"References\" for more details.
      type: object
      properties:
        accountServicerReference:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        instructionId:
          description: |
            Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        endToEndId:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        uetr:
          description: |
            Universally unique identifier to provide an end-to-end reference of a payment transaction.
            It is recommended to use time-based version (version 1) and variant 8,9,a or b of the UUID as defined in [RFC4122] for UUID fields such as uetr.
          allOf:
            - $ref: '#/components/schemas/UUID'
        mandateId:
          description: |
            direct debit related mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        checkNumber:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    MessageCode_405_AIS: 
      description: |
        Message codes defined for AIS for HTTP Error code 405 (METHOD NOT ALLOWED).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
    OrganisationIdentificationCode:
      description: |
      type: string
      enum:
        - BANK
        - CBID
        - CHID
        - CINC
        - COID
        - CUST
        - DUNS
        - EMPL
        - GS1G
        - SREN
        - SRET
        - TXID
        - BDID
        - BOID
      example: 'BOID'
    cardAccountReport:
      description: |
         See document \"openFinance API Framework Data Dictionary\", section \"Card Account Report\" for more details.
      type: object
      required:
        - _links
      properties:
        booked:
          description: |
            Shall be contained if bookingStatus parameter is set to \"booked\" or \"both\".
          type: array
          items:
            $ref: '#/components/schemas/cardTransactions'
        pending:
          description: |
            Not contained if the bookingStatus parameter is set to \"booked\".
          type: array
          items:
            $ref: '#/components/schemas/cardTransactions'
        _links:
          description: |
            The following links might be used within this context:
            * cardAccount (mandatory when providing transaction reports on card reconciliation accounts under /card-accounts)
            * card (mandatory when providing transaction reports on single card entry level under /cards)first (optional)
            * next (optional)
            * previous (optional)
            * last (optional)
          allOf:
            - $ref: '#/components/schemas/links'
    error_RFC7807_403_AIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_403_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_403_AIS'
        _links:
          $ref: '#/components/schemas/links'
    Max500Text:
      type: string
      maxLength: 500
      example: 'Text, maximum of 500 characters.'
    CurrencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{3}'
      example: 'EUR'
    BankTransactionCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{4,4}-[A-Z]{4,4}-[A-Z]{4,4}'
      example: 'PMNT-RDDT-ESDD'
    balance:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Balance\" for more details.
      type: object
      required:
        - balanceAmount
        - balanceType
      properties:
        balanceAmount:
          description: |
          allOf:
            - $ref: '#/components/schemas/amount'
        balanceType:
          description: |
          allOf:
            - $ref: '#/components/schemas/BalanceType'
        creditLimitIncluded:
          description: |
            A flag indicating if the credit limit of the corresponding account is included in the calculation of the balance, where applicable.
          type: boolean
        lastChangeDateTime:
          description: |
            This data element might be used to indicate e.g. with the expected or booked balance that no action is known on the account, which is not yet booked.
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        referenceDate:
          description: |
            indicates the date of the balance
          allOf:
            - $ref: '#/components/schemas/ISODate'
        lastCommittedTransaction:
          description: |
            entryReference of the last commited transaction to support the TPP in identifying whether all PSU transactions are already known.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    AccountStatusCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Acount Status Code\" for more details.
      type: string
      enum: 
        - enabled
        - deleted
        - blocked
      example: 'enabled'
    MessageCode_403_AIS: 
      description: Message codes defined for AIS for HTTP Error code 403 (FORBIDDEN).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
    hrefType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"href Type\" for more details.
      type: object
      required:
        - href
      properties:
        href:
          description: |
          type: string
    remittance:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Remittance\" for more details.
      type: object
      properties:
        referredDocumentInformation:
          description: |
            Set of elements used to identify the documents referred to in the remittance information.
          allOf:
            - $ref: '#/components/schemas/referredDocumentInformation'
        creditorReferenceInformation:
          description: |
            Reference information provided by the creditor to allow the identification of the underlying documents.
          allOf:
            - $ref: '#/components/schemas/creditorReferenceInformation'
        additionalRemittanceInformation:
          description: |
            Additional information to be displayed to the PSU e.g. within authorisation processes. This will not be used in related interbank payments.
          type: array
          items:
            $ref: '#/components/schemas/Max140Text'
    financialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Financial Institution Identification\" for more details.
      type: object
      properties:
        bicfi:
          description: |
          allOf:
            - $ref: '#/components/schemas/BICFI'
        clearingSystemMemberId:
          description: |
            Information used to identify a member within a clearing system.
          allOf:
            - $ref: '#/components/schemas/clearingSystemMemberIdentification'
        name:
          description: |
            Name of the financial institution
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postalAddress:
          description: |
            Postal Address of the financial institution.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
        other:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          allOf:
            - $ref: '#/components/schemas/genericFinancialInstitutionIdentification'
    Max35Text:
      type: string
      maxLength: 35
      example: 'Text, maximum of 35 characters.'
    Max2Text:
      type: string
      maxLength: 2
      example: '2C'
    cardTransactionDetails:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Card Transaction Details\" for more details.
      type: object
      properties:
        paymentContext:
          description: |
            Context of the card payment transaction.
          allOf:
            - $ref: '#/components/schemas/paymentContextType'
        sequenceNumber:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        transactionDateTime:
          description: |
            Local date and time of the transaction assigned by the POI (Point Of Interaction).
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        poiId:
          description: |
            Identification of the POI (Point Of Interaction) performing the transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        authorisationCode:
          description: |
            Value assigned by the authorising party.
          allOf: 
            - $ref: '#/components/schemas/Max8Text'
        saleReferenceId:
          description: |
            Global reference of the sale transaction for the sale system.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        transactionType:
          description: |
            Type of transaction being undertaken for the main service.
          allOf:
            - $ref: '#/components/schemas/CardTransactionType'
    accountReference:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        pan:
          description: |
            Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        maskedPan:
          description: |
            Primary Account Number (PAN) of a card in a masked form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        msisdn:
          description: |
            An alias to access a payment account via a registered mobile phone number.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        other:
          description: |
            An alias with a proprietary coding
          allOf:
            - $ref: '#/components/schemas/genericAccountIdentification'
        typeCode:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/CashAccountType'
        typeProprietary:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        proxy:
          description: |
          allOf:
            - $ref: '#/components/schemas/proxyAccountIdentification'
        name:
          description: |
            Name of the account
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        owner: 
          description: |
          allOf: 
            - $ref: '#/components/schemas/partyDescription2'
        servicer:
          description: |
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
    IBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      example: 'FR7612345987650123456789014'
    amountDependentRate:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Amount dependent Rate\" for more details.
      type: object
      required:
        - percentage
      properties:
        percentage:
          description: |
            The (signed) rate of the interest.
            Up to 20 significant figures. The decimal separator is a dot.
            Trailing zeroes must be truncated.
          type: string
          pattern: '-?[0-9]{1,20}(\.[0-9]{0,19})?'
        fromAmount:
          description: |
            Amount from which the interest rate applies.
          allOf:
            - $ref: '#/components/schemas/amount'
        toAmount:
          description: |
            Amount up to which the interest rate applies.
          allOf:
            - $ref: '#/components/schemas/amount'
    index:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Index\" for more details.
      type: object
      properties:
        index:
          description: |
            Though arbitrary text is technically supported, it is recommended to use the following keywords:
            * \"CPI\" - customer Price Index
            * \"FC\" - foreign currency
            * \"other\" - for others, not clearly specified index relations.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        rootIndexValue:
          description: |
            A number (represented as a string) giving the basic index value which is the basis for the loan contract.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        exchangeRate:
          description: |
            Intended for usage in case of index = \"FC\".
          allOf:
            - $ref: '#/components/schemas/amountDependentRate'
        additionalInformation:
          description: |
            Explanations e.g. to specify index = \"other\".
          allOf:
            - $ref: '#/components/schemas/Max500Text'
    error_RFC7807_401_AIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_401_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_401_AIS'
        _links:
          $ref: '#/components/schemas/links'
    transactions:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Transactions\" for more details.
      type: object
      required:
        - transactionAmount
      properties:
        transactionId:
          description: |
            Can be used as access-ID in the API, where more details on an transaction is offered. 
            If this data attribute is provided this shows that the AIS can get access on more details about this transaction using the GET Transaction Details Request. 
            Remark: ASPSPs should ensure that transactionID, if provided, is unique relative to the account that PSU is accessing, in order to ensure the quality of the data provided to the API Client.
          type: string
        entryReference:
          description: |
            Is the identification of the transaction as used e.g. for reference for delta function on application level.
            The same identification as for example used within camt.05x messages.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        batchIndicator:
          description: |
            If this indicator equals \"true\", then the related entry is a batch entry.
          type: boolean
        batchNumberOfTransactions:
          description: |
            Shall be used if and only if the batchIndicator is contained and equals \"true\".
          type: integer
        references:
          description: |
            Might contain the payment identification attributes endToEndId as well as the new UETR field.
            In addition it is inlduing accountServicerReference, mandateId, checkId (all level 1 fields in V1.3.x).
          allOf:
            - $ref: '#/components/schemas/references'
        localInstrumentCode:
          description: |
            User community specific instrument as a code provided by ISO20022.
          allOf:
            - $ref: '#/components/schemas/ExternalLocalInstrumentCode'
        localInstrumentProprietary:
          description: |
            User community specific instrument as a proprietary attribute.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        bookingDate:
          description: |
            The Date when an entry is posted to an account on the ASPSPs books.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        valueDate:
          description: |
            Date at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit entry.
            Usage: If entry status is pending and value date is present, then the value date refers to an expected/requested value date.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        transactionAmount:
          description: |
            The amount of the transaction or batch as billed to the account.
          allOf:
            - $ref: '#/components/schemas/amount'
        currencyExchange:
          description: |
          type: array
          items:
            $ref: '#/components/schemas/reportExchangeRate'
        amountDetails:
          description: |
            Additional information to the transaction amount.
          allOf:
            - $ref: '#/components/schemas/amountDetails'
        interbankSettlementDate:
          description: |
            Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        cardTransaction:
          description: |
            Card transaction details in case of an underlying card transaction.
          allOf:
            - $ref: '#/components/schemas/cardTransactionDetails'
        creditor:
          description: |
            Name and potentially an identification of the creditor if a \"Debited\" transaction
          allOf:
            - $ref: '#/components/schemas/partyDescription'
        creditorAccount:
          description: |
            Account of the payee.
          allOf:
            - $ref: '#/components/schemas/accountReference'
        creditorAgent:
          description: |
            Proprietary identifications might be provided under financialInstitutionId/other
          allOf:
            - $ref: '#/components/schemas/agentDescription1'
        ultimateCreditor:
          description: |
            Only name and identification is supported for now for this party.
          allOf:
            - $ref: '#/components/schemas/partyDescription4'
        debtor:
          description: |
            Name and potentially an identification of the debtor if a \"Credited\" transaction
          allOf:
            - $ref: '#/components/schemas/partyDescription'
        debtorAccount:
          description: |
          allOf:
            - $ref: '#/components/schemas/accountReference'
        debtorAgent:
          description: |
            Proprietary identifications might be provided under financialInstitutionId/other
          allOf:
            - $ref: '#/components/schemas/agentDescription1'
        ultimateDebtor:
          description: |
          allOf:
            - $ref: '#/components/schemas/partyDescription4'
        remittanceInformationUnstructured:
          description: |
          type: array
          items: 
            $ref: '#/components/schemas/Max140Text'
        remittanceInformationStructured:
          description: |
          type: array
          items: 
            $ref: '#/components/schemas/remittance'
        entryDetails:
          description: |
            Might be used by the ASPSP to transport details about transactions within a batch.
          type: array
          items: 
            $ref: '#/components/schemas/entryDetails'
        additionalTransactionInformation:
          description: |
            Might be used by the ASPSP to transport additional transaction related information to the PSU
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        additionalInformationStructured:
          description: |
            Is used if and only if the bookingStatus entry equals \"information\". 
            Every active standing order related to the dedicated payment account result into one entry.
            Each received RTP result into one entry.
          allOf:
            - $ref: '#/components/schemas/structuredAdditionalInformation'
        additionalTransactionInformationStructured:
          description: |
            Data about the transactional process of submission, authorisation and/or cancellation of the underlying payment.
          allOf:
            - $ref: '#/components/schemas/structuredAdditionalTransactionInformation'
        purposeCode:
          description: |
          allOf:
            - $ref: '#/components/schemas/PurposeCode'
        bankTransactionCode:
          description: |
            Bank transaction code as used by the ASPSP  and using the sub elements of this structured code defined by ISO20022.
            For standing order reports the following codes are applicable:
            \"PMNT-ICDT-STDO\" for credit transfers,
            \"PMNT-IRCT-STDO\" for instant credit transfers
            \"PMNT-ICDT-XBST\" for cross-border credit transfers
            \"PMNT-IRCT-XBST\" for cross-border real time credit transfers and
            \"PMNT-MCOP-OTHR\" for specific standing orders which have a dynamical amount to move left funds e.g. on month end to a saving account
          allOf:
            - $ref: '#/components/schemas/BankTransactionCode'
        bankTransactionCodeProprietary:
          description: |
            proprietary bank transaction code as used within a community or within an ASPSP e.g. 
            for MT94x based transaction reports. Renaming of the attribute to adapt to statements.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        balanceAfterTransaction:
          description: |
            This is the balance after this transaction. Recommended balance type is interimBooked.
          allOf:
            - $ref: '#/components/schemas/balance'
        _links:
          description: |
            The following links could be used here:
            \"transactionDetails\" for retrieving details of a transaction.
          allOf:
            - $ref: '#/components/schemas/links'
    _links_200_AISCARDACCOUNTTXLIST: 
      type: object
      additionalProperties: 
        $ref: '#/components/schemas/hrefType'
      properties:
        download:
          $ref: '#/components/schemas/hrefType'
    CashAccountType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - CACC
        - CARD
        - CASH
        - CHAR
        - CISH
        - COMM
        - CPAC
        - LLSV
        - LOAN
        - MGLD
        - MOMA
        - NREX
        - ODFT
        - ONDP
        - OTHR
        - SACC
        - SLRY
        - SVGS
        - TAXE
        - TRAN
        - TRAS
        - VACC
        - NFCA
      example: 'CACC'
    clientMessageInformation_404_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_404_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    genericAccountIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Account Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of an account.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/AccountIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    genericOrganisationIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Organisation Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of an organisation.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/OrganisationIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    privateIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Private Identification\" for more details.
      type: object
      properties:
        birthDate:
          description: |
          allOf:
            - $ref: '#/components/schemas/ISODate'
        provinceOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        cityOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        countryOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/CountryCode'
        others:
          description: |
            Unique identification of a person, as assigned by an institution, using an identification scheme. 
            Shall be used if none of the above attributes is used.
          type: array
          items:
            $ref: '#/components/schemas/personIdentification'
    Max8Text:
      type: string
      maxLength: 8
      example: '8CHR8CHR'
    GeoLocation:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Geo Location\" for more details.
      type: string
      pattern: 'GEO:-?[0-9]{1,2}\.[0-9]{6};-?[0-9]{1,3}\.[0-9]{6}'
      example: 'GEO:52.506931;13.144558'
    partyDescription4:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description4\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        identification:
          description: |
            Identification of the party.
          allOf:
            - $ref: '#/components/schemas/partyIdentification'
    partyDescription2:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description2\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postaladdress:
          description: |
            Postal Address of the party.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
    EventFrequencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Event Frequency Code\" for more details.
      type: string
      enum:
        - Daily
        - Weekly
        - EveryTwoWeeks
        - Monthly
        - EveryTwoMonths
        - Quarterly
        - SemiAnnual
        - Annual
        - MonthlyVariable
      example: 'Monthly'
    cardTransactions:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Card Transactions\" for more details.
      type: object
      required:
        - transactionAmount
      properties:
        cardTransactionId:
          description: |
            Unique end to end identity.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        terminalId:
          description: |
            Identification of the Terminal, where the card has been used.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        transactionDate:
          description: |
            date of the actual card transaction
          allOf:
            - $ref: '#/components/schemas/ISODate'
        acceptorTransactionDateTime:
          description: |
            Timestamp of the actual card transaction within the acceptance system
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        bookingDate:
          description: |
            booking date of the related booking on the card account
          allOf:
            - $ref: '#/components/schemas/ISODate'
        valueDate:
          description: |
            Date at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit entry.
            For card transactions this is the payment due date of related booked transactions of a card.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        transactionAmount:
          description: |
            The amount of the transaction as billed to the card account.
          allOf:
            - $ref: '#/components/schemas/amount'
        grandTotalAmount:
          description: |
            Total amount of the instalment including charges, insurance and taxes in addition to the funded amount.
          allOf:
            - $ref: '#/components/schemas/amount'
        currencyExchange:
          description: |
            For card accounts, this often is restricted by the ASPSP to use only one exchange rate. 
          type: array
          items:
            $ref: '#/components/schemas/reportExchangeRate'
        originalAmount:
          description: |
            Original amount of the transaction at the Point of Interaction in orginal currency
          allOf:
            - $ref: '#/components/schemas/amount'
        markupFee:
          description: |
            Any fee related to the transaction in billing currency.
          allOf:
            - $ref: '#/components/schemas/amount'
        markupFeePercentage:
          description: |
            Percentage of the involved transaction fee in relation to the billing amount, e.g. \"0.3\" for 0,3%
          type: string
        cardAcceptorId:
          description: |
            Identification of the Card Acceptor (e.g. merchant) as given in the related card transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        cardAcceptorName:
          description: |
            Name of the Card Acceptor (e.g. merchant) as provided in the related card transaction
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        cardAcceptorAddress:
          description: |
            Address of the Card Acceptor as given in the related card transaction.
          allOf:
            - $ref: '#/components/schemas/address'
        cardAcceptorPhone:
          description: |
            Merchant phone number
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        merchantCategoryCode:
          description: |
            Merchant Category Code of the Card Acceptor as given in the related card transaction. 
          allOf:
            - $ref: '#/components/schemas/MerchantCategoryCode'
        maskedPAN:
          description: |
            The masked PAN of the card used in the transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        transactionDetails:
          description: |
            Additional details given for the related card transactions.
          allOf:
            - $ref: '#/components/schemas/Max1000Text'
        invoiced:
          description: |
            Flag indicating whether the underlying card transaction is already invoiced.
          type: boolean
        proprietaryBankTransactionCode:
          description: |
            proprietary bank transaction code as used within a community or within an ASPSP e.g. for MT94x based transaction reports
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    Max256Text:
      type: string
      maxLength: 256
      example: 'Text, maximum of 256 characters.'
    organisationIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Organisation Identification\" for more details.
      type: object
      properties:
        anyBIC:
          description: |
            A code allocated to a business entity or to a financial institution by a Registration Authority under an international identification scheme.
          allOf:
            - $ref: '#/components/schemas/BICFI'
        lei:
          description: |
            Legal Entity Identifier.
          allOf:
            - $ref: '#/components/schemas/LEI'
        others:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          type: array
          items:
            $ref: '#/components/schemas/genericOrganisationIdentification'
    error_NG_405_AIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_405_AIS'
        _links:
          $ref: '#/components/schemas/links'
    clientMessageInformation_403_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_403_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    amountDetails:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Amount Details\" for more details.
      type: object
      properties:
        instructedAmount:
          description: |
          allOf:
            - $ref: '#/components/schemas/amountAndExchangeDetails'
        transactionAmount:
          description: |
          allOf:
            - $ref: '#/components/schemas/amountAndExchangeDetails'
        counterValueAmount:
          description: |
          allOf:
            - $ref: '#/components/schemas/amountAndExchangeDetails'
        announcedPostingAmount:
          description: |
          allOf: 
            - $ref: '#/components/schemas/amountAndExchangeDetails'
      example:
          {
            "instructedAmount" : {
              "currency": "DKK",
              "amount": "123.50",
              "sourceCurrency": "DKK",
              "targetCurrency": "EUR",
              "exchangeRate": "7.47"
            },
            "transactionAmount" : {
              "currency": "EUR",
              "amount": "16.53",
              "sourceCurrency": "DKK",
              "targetCurrency": "EUR",
              "exchangeRate": "7.60"
            }
          }
    error_NG_403_AIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_403_AIS'
        _links:
          $ref: '#/components/schemas/links'
    NamePrefixCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Name Prefix Code\" for more details.
      type: string
      enum:
        - DOCT
        - MADM
        - MISS
        - MIST
        - MIKS
      example: 'MADM'
    standingOrderDetails:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Standing Order Details\" for more details.
      type: object
      required:
        - paymentProduct
        - paymentId
        - frequency
      properties:
        paymentProduct:
          description: |
            Only included for AIS. This yields the payment product of the standing order resource.
          type: string  
        paymentId:
          description: |
            Only included for AIS. Resource Identifier of the standing order resource.
          allOf:
            - $ref: '#/components/schemas/UUID'
        startDate:
          description: |
            The first applicable day of execution starting from this date the first payment was/will be executed.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        startDateTime:
          description: |
            The first applicable day and time of execution starting from this timestamp. This attribute is only applicable to instant payments. Seconds and milli seconds might be ignored by the ASPSP.
            The ASPSP might restrict the implementation to startDate. This restriction will be part of the ASPSP documentation.
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        endDate:
          description: |
            The last applicable day of execution
            If not given, it is an infinite standing order.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        endDateTime:
          description: |
            The last applicable day and time of requested execution. This attribute is only applicable to instant payments.
            If none of the attributes is given, it is an infinite standing order.
            The ASPSP might restrict the implementation to endDate. This restriction will be part of the ASPSP documentation.
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        displayName:
          description: |
            Name of the standing order defined by the PSU and displayed within the online channels.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        executionRule:
          description: |
            \"following\" or \"preceding\" supported as values.
            This data attribute defines the behavior when a transaction date resulting from a standing order falls on a weekend or bank holiday.
            The payment is then executed either the \"preceding\" or \"following\" working day.
          allOf:
            - $ref: '#/components/schemas/ExecutionRuleCode'
        withinAMonthFlag:
          description: |
            This element is only used in case of frequency equals \"Monthly\".
            If this element equals false it has no effect. If this element equals true,
            then the execution rule is overruled if the day of execution would fall into a different month using the execution rule.
            Example: executionRule equals \"preceding\", dayOfExecution equals \"02\" and the second of a month is a Sunday.
            In this case, the transaction date would be on the last day of the month before.
            This would be overruled if withinAMonthFlag equals true and the payment is processed on Monday the third of the Month.
            Remark: This attribute is rarely supported in the market.
          type: boolean
        frequency:
          description: |
            The frequency of the recurring payment resulting from this standing order.
          allOf:
            - $ref: '#/components/schemas/EventFrequencyCode'
        monthsOfExecution:
          description: |
            The format is following the regular expression \d{1,2}. The array is restricted to 11 entries.
            The values contained In the array entries shall all be different and the maximum value of one entry is 12.
            This attribute is contained if and only if the frequency equals \"MonthlyVariable\".
            Example: An execution on January, April and October each year is addressed by [\"1\". \"4\", \"10\"].
          type: array
          items:
            $ref: '#/components/schemas/Max2Text'
        multiplicator:
          description: |
            This is multiplying the given frequency resulting the exact frequency, e.g.
            Frequency=weekly and multiplicator=3 means every 3 weeks.
            Remark: This attribute is rarely supported in the market.
          type: number
        dayOfExecution:
          description: |
            \"31\" is ultimo.
            The format is following the regular expression \d{1,2}.
            Example: The first day is addressed by \"1\".
            The date is referring to the time zone of the ASPSP.
          allOf:
            - $ref: '#/components/schemas/Max2Text'
        limitAmount:
          description: |
            limitAmount
            Amount limit for fund skimming, e.g. skim all funds above this limit to savings account, i.e. typically a specific periodic
            payments with fixed remaining amount rather than fixed transaction amount. Amount may be zero as well as below zero, i.e. negative.
            Constraints: transactionAmount needs to be zero and bankTransactionCode needs to specify \"PMNT-MCOP-OTHR\" for fund skimming.
          allOf:
            - $ref: '#/components/schemas/amount'
    BICFI:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      example: 'ECBFDEFFFIM'
    Max140Text:
      type: string
      maxLength: 140
      example: 'Text, maximum of 140 characters.'
    PersonIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - ARNU
        - CCPT
        - CUST
        - DRLC
        - EMPL
        - NIDN
        - SOSE
        - TELE
        - TXID
        - POID
      example: 'NIDN'
    ExecutionRuleCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Execution Rule Code\" for more details.
      type: string
      enum:
        - Preceding
        - Following
      example: 'Preceding'
    address:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Address\" for more details.
      type: object
      required:
        - country
      properties:
        streetName:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        buildingNumber:
          description: |
          type: string
        townName:
          description: |
          type: string
        postCode:
          description: |
          type: string
        country:
          description: |
          allOf:
            - $ref: '#/components/schemas/CountryCode'
    ProxyAccountTypeCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - TELE
        - EMAL
        - DNAM
        - CINC
        - COTX
        - COID
        - CUST
        - DRLC
        - EIDN
        - EWAL
        - PVTX
        - LEIC
        - MBNO
        - NIDN
        - CCPT
        - SHID
        - SOSE
        - TOKN
        - UBIL
        - VIPN
        - BIID
      example: 'EMAL'
    MessageCode_ServiceUnspecific_409:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      enum: 
          - STATUS_INVALID
          - CHANGE_INVALID
      example: 'STATUS_INVALID'
    accountReport:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Report\" for more details.
      type: object
      required:
        - _links
      properties:
        booked:
          description: |
            Shall be contained if bookingStatus parameter is set to \"booked\", \"both\" or \"all\".
          type: array
          items:
            $ref: '#/components/schemas/transactions'
        pending:
          description: |
            Not contained if the bookingStatus parameter is set to \"booked\" or \"information\".
          type: array
          items:
            $ref: '#/components/schemas/transactions'
        information:
          description: |
            Only contained if the bookingStatus is set to \"information\" or \"all\" and if supported by ASPSP.
          type: array
          items:
            $ref: '#/components/schemas/transactions'
        _links:
          description: |
            The following links might be used within this context:
            * account (mandatoryin the context of cash accounts)
            * savingsAccount (mandatory in the context of savings accounts)
            * loanAccount (mandatory in the context of loan accounts)
            * first (optional)
            * next (optional)
            * previous (optional)
            * last (optional)
          allOf:
            - $ref: '#/components/schemas/links'
    SecuritiesFeeTypeCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Securities Fee Type Code\" for more details.
      type: string
      enum:
        - transactionFee
        - brokerageFee
        - managementFee
        - courtage
        - custodyFee
        - exchangeFee
        - thirdPartyFee
        - otherFee
      example: 'otherFee'
    clientMessageInformation_401_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_401_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    FinancialInstitutionIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
    MessageCode_401_AIS: 
      description: Message codes defined for AIS for HTTP Error code 401 (UNAUTHORIZED).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        - $ref: '#/components/schemas/MessageCode_AisSpecific_401'
    MessageCode_ServiceUnspecific_405:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_INVALID
      example: 'SERVICE_INVALID'
    ISODate:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: date
      example: '2020-01-01'
    MessageCode_ServiceUnspecific_404:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - RESOURCE_UNKNOWN
      example: 'RESOURCE_UNKNOWN'
    BBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[a-zA-Z0-9]{1,30}' 
      example: 'BARC12345612345678'
    MessageCode_ServiceUnspecific_403:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_BLOCKED
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
      example: 'SERVICE_BLOCKED'
    MessageCode_ServiceUnspecific_401:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - CERTIFICATE_INVALID
        - CERTIFICATE_EXPIRED
        - CERTIFICATE_BLOCKED
        - CERTIFICATE_REVOKED
        - CERTIFICATE_MISSING
        - CLIENT_INVALID
        - CLIENT_INCONSISTENT
        - API_CONTRACT_ID_INVALID
        - SIGNATURE_INVALID
        - SIGNATURE_MISSING
        - ROLE_INVALID
        - PSU_CREDENTIALS_INVALID
        - CORPORATE_ID_INVALID
        - CONSENT_INVALID
        - CONSENT_EXPIRED
        - TOKEN_UNKNOWN
        - TOKEN_INVALID
        - TOKEN_EXPIRED
      example: 'CERTIFICATE_INVALID'
    MessageCode_ServiceUnspecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - FORMAT_ERROR
        - PARAMETER_NOT_CONSISTENT
        - PARAMETER_NOT_SUPPORTED
        - SERVICE_INVALID
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - RESOURCE_BLOCKED
        - TIMESTAMP_INVALID
        - PERIOD_INVALID
        - SCA_METHOD_UNKNOWN
        - SCA_INVALID
      example: 'FORMAT_ERROR'
    error_NG_401_AIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_401_AIS'
        _links:
          $ref: '#/components/schemas/links'
    PhoneNumber:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '\+[0-9]{1,3}-[0-9()+\-]{1,30}'
      example: '+44-113-496-0000'
    securitiesAccountFee:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Securities Account Fee\" for more details.
      type: object
      required:
        - feeRules
      properties:
        typeCode:
          description: |
            Type of the fee as a code.
            Might be adjusted in the future based on market experience.
          allOf:
            - $ref: '#/components/schemas/SecuritiesFeeTypeCode'
        typeProprietary:
          description: |
            Type of the fee as a proprietary string.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        feeRules:
          description: |
            Array of fee rules. Each rule represents ow the amount of the fee is determined either explicitly by stating the amount or implicitly by providing a percentage, minimum and maximum amount.
            This array will usually only contain one entry to represent the whole rule. Only in the case of the fee being calculated as a tiered percentage, 
            several entries are included to represent the several tiers of the fee rule.
          type: array
          items: 
            $ref: '#/components/schemas/securitiesAccountFeeRule'
        applicableFrom:
          description: |
            First date, when this fee is applicable.
            If not present, the fee is applicable starting with the creation of this account / the latest reporting date supported by the ASPSP.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        applicableTo:
          description: |
            Last date, when this fee is applicable. If not present, the fee is applicable indefinitely.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        additionalInformation:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max500Text'
    Max4Text:
      type: string
      maxLength: 4
      example: '4CHR'
    referredDocumentInformation:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Referred Document Information\" for more details.
      type: object
      properties:
        typeCode:
          description: |
            Specifies the type of referred document, provided as code.
          allOf:
            - $ref: '#/components/schemas/ReferredDocumentTypeCode'
        typeProprietary:
          description: |
            Specifies the type of referred document, provided in proprietary encoding.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        typeIssuer:
          description: |
            Issuer of the document type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        number:
          description: |
            Unique and unambiguous identification of the referred document.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        relatedDate:
          description: |
            Date associated with the referred document.
          allOf:
            - $ref: '#/components/schemas/ISODate'
    paymentContextType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Payment Context Type\" for more details.
      type: object
      properties:
        cardPresent:
          description: |
          type: boolean
        cardDataEntryMode:
          description: |
          allOf:
            - $ref: '#/components/schemas/CardDataEntryMode'
    PreferredMethod:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Preferred Method\" for more details.
      type: string
      enum:
        - LETT
        - MAIL
        - PHON
        - FAXX
        - CELL
      example: 'MAIL'
    error_NG_400_AIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_400_AIS'
        _links:
          $ref: '#/components/schemas/links'
    MessageCode_404_AIS: 
      description: Message codes defined for AIS for HTTP Error code 404 (NOT FOUND).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        - $ref: '#/components/schemas/MessageCode_AisSpecific_404'
    TransactionStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Transaction Status\" for more details.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
        - PRES
        - RVCM
        - RVNC
        - RCVC
      example: 'ACCC'
    error_NG_409_AIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_409_AIS'
        _links:
          $ref: '#/components/schemas/links'
    Max70Text:
      type: string
      maxLength: 70
      example: 'Text, maximum of 70 characters.'
    BalanceType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Balance Type\" for more details.
      type: string
      enum:
        - closingBooked
        - expected
        - openingBooked
        - interimAvailable
        - interimBooked
        - forwardAvailable
        - nonInvoiced
      example: 'closingBooked'
    links:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Links\" for more details.
      type: object
      properties:
        scaRedirect:
          description: |
            A link to an ASPSP site where SCA is performed within the Redirect SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaOAuth:
          description: |
            The link refers to a JSON document specifying the OAuth details of the ASPSP's authorisation server. JSON document follows the definition given in [RFC 8414].
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmation:
          description: |
            \"confirmation\": Might be added by the ASPSP if either the \"scaRedirect\" or \"scaOAuth\" hyperlink is returned in the same response message. 
            This hyperlink defines the URL to the resource which needs to be updated with 
            * a confirmation code as retrieved after the plain redirect authentication process with the ASPSP authentication server or
            * an access token as retrieved by submitting an authorization code after the integrated Oauth based authentication process with the ASPSP authentication server.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        creditorNameConfirmation:
          description: |
            A link to an endpoint, where the submitted payment needs to be confirmed explicitly for execution after a verification of payee process has detected a deviation in the creditor account/creditor name pair.
            If this hyperlink is provided, the addressed payment will not be executed without a related confirmation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          description: |
            A link to an endpoint, where the authorisation of a transaction or the authorisation of a transaction cancellation shall be started with a POST command. 
            No specific data is needed for this process start.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU identification shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuIdentification:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the PSU identification if not delivered yet.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithProprietaryData:
          description: |
            A link to the endpoint, where the authorisation of a transaction or of a transaction cancellation shall be started, and where proprietary data needs to be updated with this call. 
            The TPP can find the scope of missing proprietary data in the ASPSP documentation.
            The usage of this hyperlink is not further specified in the specification but is used analogously to e.g. the startAuthorisation withPsuIdentification hyperlink.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateProprietaryData:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the proprietary data.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by a PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where encrypted PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by an encrypted PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          description: |
            This is a link to and endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, 
            where the selected SCA method shall be uploaded  with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          description: |
            This is a link to a resource, where the TPP can select the applicable second factor authentication methods for the PSU, if there were several available authentication methods. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          description: |
            A link to an endpoint, where an authorisation of a transaction or a cancellation can be started, and where the response data for the challenge is uploaded in the same call for the 
            transaction authorisation or transaction cancellation at the same time in the Embedded SCA Approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          description: |
            The link to the payment initiation or consent resource, where the \"Transaction Authorisation\"Request\" is sent to. This is the link to the resource which will authorise the payment or the consent by 
            checking the SCA authentication data within the Embedded SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateResourceByDebtorAccountResource:
          description: |
            A link to a payment related resource which needs to be updated by an account, referenced by a resource identification.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        self:
          description: |
            The link to the payment initiation resource created by the request itself. 
            This link can be used later to retrieve the transaction status of the payment initiation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        status:
          description: |
            A link to retrieve the status of the transaction resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionfees:
          description: |
            The link is to the status resource.  
            This link is only added within the authorisation process in case fee information is available via the status resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaStatus:
          description: |
            A link to retrieve the status of the authorisation or cancellation-authorisation sub-resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        account:
          description: |
            A link to the resource providing the details of one account
          allOf:
            - $ref: '#/components/schemas/hrefType'
        savingsAccount:
          description: |
            A link to the resource providing the details of a savings account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        loanAccount:
          description: |
            A link to the resource providing the details of a loan account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        balances:
          description: |
            A link to the resource providing the balance of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactions:
          description: |
            A link to the resource providing the transaction history of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardAccount:
          description: |
            A link to the resource providing the details of one card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardTransactions:
          description: |
            A link to the resource providing the transaction history of a dedicated card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionDetails:
          description: |
            A link to the resource providing details of a dedicated transaction.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        ibanCheck:
          description: |
            A link to the endpoint offering the addressed iban check result.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        paymentInitiation:
          description: |
            A link to an initiation related to a payment resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        securitiesAccount:
          description: |
            A link to the resource providing the details of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        positions:
          description: |
            A link to the resource providing the list of positions of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orders:
          description: |
            A link to the resource providing the list of orders of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orderDetails:
          description: |
            A link to the resource providing details of one specific order.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        relatedOrders:
          description: |
            An array of links to request order details of related orders related to the order that is represented by the data structure containing this element 
            (e.g. other orders that originated from the same order split as this order). 
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        relatedTransactions:
          description: |
            An array of links to request securities transaction details of transactions that resulted from this order.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        subscription:
          description: |
            A link to the resource providing the details of a subscription for Push AIS Services.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        entryStatusRevoked:
          description: |
            Links to entry endpoints where the entry status is revoked.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        first:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        next:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        previous:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        last:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        download:
          description: |
            Download link for huge AIS data packages.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmInitiation:
          description: |
            link to a confirmation endpoint, where a payment initiation needs to be confirmed explicitly by the API Client for execution.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspParameters:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspContacts:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspDowntimes:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        onboardings:
          description: |
            A link to commercially onboard to the related API, see openFinance, Admin Services for more details.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        readConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
    partyDescription:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postaladdress:
          description: |
            Postal Address of the party.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
        identification:
          description: |
            Identification of the party.
          allOf:
            - $ref: '#/components/schemas/partyIdentification'
        additionalPartyInformation:
          description: |
            Only supported in extended services for creditor related parties, if at all.
            *NOTE:* This information will be neither put to the related interbank payment nor to account reports/statements and 
            might only be used to display related information to the PSU during potential authorisation processes.
          allOf:
            - $ref: '#/components/schemas/additionalPartyInformation'
    genericFinancialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Financial Institution Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of a financial insitution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/FinancialInstitutionIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    UUID:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: uuid
      example: '99435c7e-ad88-49ec-a2ad-99ddcb1f5555'
    error_RFC7807_404_AIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_404_AIS'
        additionalErrors:
          description: |
[...]
