openapi: 3.0.1

info:
  contact:
    email: info@berlin-group.org
    name: The Berlin Group - A European Standards Initiative
    url: https://www.berlin-group.org/
  description: |
    The openFinance API Framework is supporting a resource status notification function, formally specified in an alone standing document as Resource Status Notification Service before. 
    This is now covered within this section as a basic building block for the openFinance API Framework V2. 
    This resource status notification function allows ASPSP to push status changes of a resource created by the API Client within the openFinance API Framework. 
    The API Client needs to register for receiving such notification messages for every resource where such a function is envisaged. 
    This registration is steered by the API Client by adding certain headers within the related Transaction Initiation Request message, which creates the addressed resource.
    The resource status notification function is an optional feature within the openFinance API Framework, i.e. a related registration by the API Client might be ignored by the ASPSP. 
    Requirements on TLS support for the actual push function (turning the ASPSP into a technical http client towards the API Client) are defined in document \"Protocol Functions and Security Measures for V2.x\" 5.2. 
  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  title: openFinance API Framework Implementation Guidelines Protocol Functions and Security Measures for V2.x - Resource Status Notification
  version: "2.3"
  x-references:
    documents:
      - document:
        title: openFinance API Framework Data Dictionary
        version: "2.3.1"
      - document:
        title: openFinance API Framework Implementation Guidelines Protocol Functions and Security Measures
        version: "2.3"

externalDocs:
  description: |
    \"openFinance API Framework Implementation Guidelines Protocol Functions and Security Measures\"
  url: https://www.berlin-group.org/openfinance-downloads

servers:
  - url: https://api.client.com/psd2
    description: API Client server
  - url: https://test-api.client.com/psd2
    description: API Client test server

tags:
  - name: Resource Status Notification
    description: |
      The Resource Status Notification API offers the following services:
        * Notification messages on resource status changes by the ASPSP

paths:
  /Client-Notification-URL:
    post:
      summary: Push Resource Status with JSON encoding
      description: | 
        Creates a Resource Notification on the API Client server.
      operationId: pushResourceStatus
      tags:
        - Resource Status Notification
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              properties:
                paymentId:
                  description: |
                     This shall be contained, if the push notification is about a payment or RTP initiation.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                consentId:
                  description: |
                   This shall be contained if the push notification is about establishing a consent.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                subscriptionId:
                  description: |
                    This shall be contained if the push notification is about establishing a subscription.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                basketId:
                  description: |
                    This shall be contained if the push notification is about signing a basket.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                mandateResourceId:
                  description: |
                    This shall be contained if the push notification is about establishing a mandate.
                  allOf:
                    - $ref: '#/components/schemas/UUID'
                documentResourceId:
                  description: |
                    This shall be contained, if the push notification is about a document submission.
                  allOf:
                    - $ref: '#/components/schemas/UUID'
                entryId:
                  description: |
                    This may be used if the status relates to an entry of an RTP bulk.
                  type: string
                subscriptionEntryId:
                  description: |
                    This may be used if the status relates to an entry of a subscription.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                authorisationId:
                  description: |
                    This attribute should be contained if the push notification is about a specific SCA status.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                cancellationId:
                  description: |
                    This attribute should be contained if the push notification is about a specific SCA status of a cancellation authorisation sub-resource.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                transactionStatus:
                  description: |
                    This attribute might be contained if the related resource contains a transaction status which has changed.
                  allOf:
                    - $ref: '#/components/schemas/TransactionStatus'
                consentStatus:
                  description: |
                    This attribute might be contained if the consent status of the addressed resource has changed.
                  allOf:
                    - $ref: '#/components/schemas/ConsentStatus'
                subscriptionStatus:
                  description: |
                    This attribute might be contained if the subscription status of the addressed resource has changed. 
                  allOf:
                    - $ref: '#/components/schemas/SubscriptionStatus'
                subscriptionEntryStatus:
                  description: |
                    This attribute might be contained if the subscription entry status of the addressed resource has changed.
                  allOf:
                    - $ref: '#/components/schemas/SubscriptionEntryStatus'
                mandateStatus:
                  description: |
                    This attribute might be contained if the mandate status of the addressed resource has changed.
                  allOf:
                    - $ref: '#/components/schemas/MandateStatus'
                documentStatus:
                  description: |
                    This attribute might be contained if the document status of the addressed resource has changed.
                  allOf:
                    - $ref: '#/components/schemas/DocumentStatus'
                scaStatus:
                  description: |
                    This attribute might be contained if the subscription status of the addressed resource has changed. 
                  allOf:
                    - $ref: '#/components/schemas/SCAStatus'
                requestStatus:
                  description: |
                    The status of the related request to pay transaction. To be delivered by the API Server if not agreed otherwise. 
                  allOf:
                    - $ref: '#/components/schemas/RequestStatus'
                reasonCode:
                  description: |
                    Additional information on the reason for e.g. rejecting the request 
                  allOf:
                    - $ref: '#/components/schemas/StatusReasonCode'
                reasonProprietary:
                  description: |
                    Proprietary additional information on the reason for e.g. rejecting the request.  
                  allOf:
                    - $ref: '#/components/schemas/Max35Text'
                debtorDecisionDateTime:
                  description: |
                    The date and time when the PSU has decided on accepting/rejecting the related request.
                  allOf:
                    - $ref: '#/components/schemas/ISODateTime'
                acceptedAmount:
                  description: |
                     Contained only if the accepted amount deviates from the instructed amount. 
                  allOf:
                    - $ref: '#/components/schemas/amount'
                acceptanceDateTime:
                  description: |
                    Contained only if the agreed requested execution date deviates from the requested execution date in the request. 
                  allOf:
                    - $ref: '#/components/schemas/ISODateTime'
                acceptedPaymentInstrument:
                  description: |
                     \"SCT\" or \"SCT inst\" as default values.
                  allOf:
                    - $ref: '#/components/schemas/Max105Text'
                statusIdentification:
                  description: |
                    Reference added by the debtor.
                  allOf:
                    - $ref: '#/components/schemas/Max35Text'
                _links:
                  type: object
                  description: |
                    The following link types are supported. 
                    scaStatus
                    This shall be contained if the related SCA status is not reported at the same time by the scaStatus attribute. 
                    The API Client then needs to get the scaStatus by a GET command using this hyperlink. 
                    status 
                    This shall be contained if the related consent or transaction status is not reported at the same time. 
                    The API Client then needs to get the resource status by a GET command using this hyperlink. 
                  additionalProperties: 
                    $ref: '#/components/schemas/hrefType'
                  properties:
                    scaStatus:
                      $ref: '#/components/schemas/hrefType'
                    status:
                      $ref: '#/components/schemas/hrefType'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PUSHRESOURCESTATUS'
        '400':
          $ref: '#/components/responses/decline_400_PUSHRESOURCESTATUS'
        '401':
          $ref: '#/components/responses/decline_401_PUSHRESOURCESTATUS'
        '403':
          $ref: '#/components/responses/decline_403_PUSHRESOURCESTATUS'
        '404':
          $ref: '#/components/responses/decline_404_PUSHRESOURCESTATUS'
        '405':
          $ref: '#/components/responses/decline_405_PUSHRESOURCESTATUS'
        '406':
          $ref: '#/components/responses/decline_406_PUSHRESOURCESTATUS'
        '408':
          $ref: '#/components/responses/decline_408_PUSHRESOURCESTATUS'
        '409':
          $ref: '#/components/responses/decline_409_PUSHRESOURCESTATUS'
        '415':
          $ref: '#/components/responses/decline_415_PUSHRESOURCESTATUS'
        '500':
          $ref: '#/components/responses/decline_500_PUSHRESOURCESTATUS'
        '503':
          $ref: '#/components/responses/decline_503_PUSHRESOURCESTATUS'


components:
  securitySchemes:
    BearerAuthOAuth:
      description: |
        Bearer Token. 
        Is contained only, if an OAuth2 based authentication was performed in a pre-step or 
        an OAuth2 based SCA was performed in a preceding AIS service in the same session.
      type: http
      scheme: bearer
  schemas:
    Max105Text:
      type: string
      maxLength: 105
      example: 'Text, maximum of 105 characters.'
    amount:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Amount\" for more details.
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        amount:
          description: |
            The amount given with fractional digits, where fractions must be compliant to the currency definition. Up to 14 significant figures. Negative amounts are signed by minus.
            The decimal separator is a dot.
            Example: Valid representations for EUR with up to two decimals are:
            * 1056
            * 5768.2
            * -1.50
            * 5877.78
          type: string
          pattern: '-?[0-9]{1,14}(\.[0-9]{1,3})?'
    SCAStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"SCA Status\" for more details.
      type: string
      enum:
        - received
        - psuIdentified
        - psuAuthenticated
        - scaMethodSelected
        - started
        - unconfirmed
        - finalised
        - failed
        - exempted
      example: 'received'
    TransactionStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Transaction Status\" for more details.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
        - PRES
        - RVCM
        - RVNC
        - RCVC
      example: 'ACCC'
    StatusReasonCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Status Reason Code\" for more details.
      type: string
      enum:
        - AM04
        - AM21
        - BEXX
        - CN01
        - DS0C
        - DS0D
        - DS0A
        - DS04
        - FOCR
        - SL11
        - TKSP
        - TKXP
        - AM02
        - DT05
        - AC05
        - AC06
        - DS0K
        - DT01
        - UPAY
        - EOL1
      example: 'AM04'
    CurrencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{3}'
      example: 'EUR'
    DocumentStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Document Status\" for more details.
      type: string
      enum:
        - received
        - rejected
        - accessible
        - withdrawn
        - replaced
        - expired
      example: 'received'
    Max70Text:
      type: string
      maxLength: 70
      example: 'Text, maximum of 70 characters.'
    SubscriptionEntryStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Subscription Entry Status\" for more details.
      type: string
      enum:
        - received
        - rejected
        - partiallyAuthorised
        - valid
        - revokedByPsu
        - expired
        - terminatedByTpp
      example: 'received'
    SubscriptionStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Subscription Status\" for more details.
      type: string
      enum:
        - received
        - rejected
        - partiallyAuthorised
        - valid
        - validInChange
        - revokedByPsu
        - cancelledByAspsp
        - expired
        - terminatedByTpp
      example: 'received'
    ConsentStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Consent Status\" for more details.
      type: string
      enum:
        - received
        - rejected
        - partiallyAuthorised
        - valid
        - revokedByPsu
        - expired
        - terminatedByTpp
        - replacedByTpp
      example: 'received'
    MandateStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Mandate Status\" for more details.
      type: string
      enum:
        - RCVD
        - RJCT
        - PATC
        - ACTV
        - EXPI
        - CANC
        - SUSP
      example: 'RCVD'
    ISODateTime:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: date-time
      example: '2020-01-01T13:00:00.999-01:00'
    hrefType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"href Type\" for more details.
      type: object
      required:
        - href
      properties:
        href:
          description: |
          type: string
    UUID:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: uuid
      example: '99435c7e-ad88-49ec-a2ad-99ddcb1f5555'
    Max35Text:
      type: string
      maxLength: 35
      example: 'Text, maximum of 35 characters.'
    RequestStatus:
     description: |
       See document \"openFinance API Framework Data Dictionary\", section \"Request Status\" for more details.
     type: string
     enum:
        - ACCP
        - ACWC
        - RCVD
        - PDNG
        - RJCT
     example: 'ACCP'
  parameters:
    HEADER_bodyEncList:
      name: Body-Enc-List
      in: header
      description: |
          Contains a List of names of data elements/ attributes of the body which contain encrypted information
      required: false
      schema:
        type: string
      example: 'BODY'
    HEADER_bodyEncProfile:
      name: Body-Enc-Profile 
      in: header
      description: |
         Indicates the encryption profile used for the encryption of (parts of) the body.
      required: false
      schema:
        type: string
        enum:
          - JWE_CS
          - XML_ENC
      example: 'JWE_CS'
    HEADER_bodySigProfile:
      name: Body-Sig-Profile 
      in: header
      description: |
         Indicates the signature profile used for signing (parts of) the body. Shall be used if the body is signed.
      required: false
      schema:
        type: string
        enum:
          - JAdES_JS
          - XAdES
          - EMV_AC
          - EUDIW
      example: 'XAdES'
    HEADER_xJwsSignature:
      name: x-jws-signature
      in: header
      description: |
        The attribute x-jws-signature contains the JSON Web Signature.
      schema:
        type: string
      required: false # conditional
      example: 'eyJiNjQiOmZhbHNlLCJ4NXQjUzI1NiI6ImR5dFBwU2tKWXpoVGRQWFNXUDdqaFhnRzRrQ09XSVdHaWVzZHprdk5MelkiLCJjcml0IjpbInNpZ1QiLCJzaWdEIiwiYjY0Il0sInNpZ1QiOiIyMDIwLTEwLTI2VDExOjI2OjU3WiIsInNpZ0QiOnsicGFycyI6WyJ4LXJlcXVlc3QtaWQiLCJkaWdlc3QiXSwibUlkIjoiaHR0cDovL3VyaS5ldHNpLm9yZy8xOTE4Mi9IdHRwSGVhZGVycyJ9LCJhbGciOiJSUzI1NiJ9..NuGglWBtHcXavob2ZmW-PoSpMmhJS9U6z8zPqHFoE97vHI3z8wtaVdbwsj5WzgPjtVWUUnk8cxP4JjLXdwzwhhHB2uJ5FI4ZZGdSQQw-9pXPUx3cCJSzHmrgkJ-di-A4'
    HEADER_digest:
      name: Digest
      in: header
      description: |
        When API Client include a signature according to this signature profile, they also must include a \"Digest\" header as defined in [RFC3230]. 
        The \"Digest\" Header contains a Hash of the message body. If the message does not contain a body, the \"Digest\" header must contain the hash of an empty byte list.
        The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843]. 
      schema:
        type: string
      required: false # conditional
      example: 'SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A='
    HEADER_xRequestId:
      name: X-Request-ID
      in: header
      description: ID of the request, unique to the call, as determined by the initiating party.
      required: true
      schema:
        type: string
        format: uuid
      example: '99391c7e-ad88-49ec-a2ad-99ddcb1f7721'
  requestBodies: {}
  headers:
    X-Request-ID:
      description: |
        ID of the request, unique to the call, as determined by the initiating party.
      required: true
      schema:
        type: string
        format: uuid
      example: '99391c7e-ad88-49ec-a2ad-99ddcb1f7721'
  responses:
    decline_403_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Forbidden
    decline_408_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Request Timeout
    decline_409_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Conflict
    decline_405_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Method not allowed
    decline_500_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Internal Server Error
    decline_404_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Not Found
    decline_406_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Not Acceptable
    decline_401_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Unauthorised
    decline_400_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Bad Request
    decline_503_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Service Unavailable
    Ok_200_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Ok
    decline_415_PUSHRESOURCESTATUS:
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: Unsupported Media Type
  examples: {}

