openapi: 3.0.1

info:
  contact:
    email: info@berlin-group.org
    name: The Berlin Group - A European Standards Initiative
    url: https://www.berlin-group.org/
  description: |
    The payment initiation flow depends heavily on the SCA approach implemented by the ASPSP. 
    The most complex flow is the flow for the Embedded SCA Approach, which further differs on whether there are various authentication methods available for the PSU. 
    In the following, the different API flows are provided as an overview for these different scenarios. 
    Remark: The flows do not always cover all variances or complexities of the implementation and are exemplary flows.
  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines - Payment Initiation Service
  version: "2.3"
  x-references:
    documents:
      - document:
        title: openFinance API Framework Data Dictionary
        version: "2.3.1"
      - document:
        title: openFinance API Framework Implementation Guidelines Protocol Functions and Security Measures
        version: "2.3"
      - document:
        title: openFinance API Framework Payment Formats and Domestic AIS/PIS Definitions for Version 2.x
        version: "2.0"
      - document:
        title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
        version: "2.3"

externalDocs:
  description: |
    openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
  url: https://www.berlin-group.org/openfinance-downloads

servers:
  - url: https://api.testbank.com/psd2
    description: PSD2 server
  - url: https://test-api.testbank.com/psd2
    description: Optional PSD2 test server

tags:
  - name: Payment Initiation Service (PIS)
    description: |
      The component for Payment Initiation Service (PIS) offers the following services:
        * Initiation and update of a payment request
        * Status information of a payment

paths:
  /v2/payments/{payment-product}:
    post:
      summary: Payment Initiation Request for Single Payments
      description: | 
        Creates a payment initiation request at the ASPSP. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", sections \"Payment Initiation with JSON encoding of the Payment Instruction\" and \"Payment Initiation with pain.001 XML message as Payment Instruction \".
      operationId: initiatePayment
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentProduct_SinglePayments'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
        - $ref: '#/components/parameters/HEADER_clientScaApproachPreference'
        - $ref: '#/components/parameters/HEADER_clientRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientNokRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientExplicitAuthorisationPreferred'
        - $ref: '#/components/parameters/HEADER_clientNotificationUri'
        - $ref: '#/components/parameters/HEADER_clientNotificationContentPreferred'
        - $ref: '#/components/parameters/HEADER_clientVopRequested'
        - $ref: '#/components/parameters/HEADER_clientVopRequestId'
        - $ref: '#/components/parameters/HEADER_clientBrandLoggingInformation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_consentId_optional'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_mandatory'
        - $ref: '#/components/parameters/HEADER_tppRejectionNoFundsPreferred'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              anyOf: #Different Payment products in JSON
                - $ref: '#/components/schemas/SinglePayment_SCT_Core'
                - $ref: '#/components/schemas/SinglePayment_SCT_inst_Core'
                - $ref: '#/components/schemas/SinglePayment_Target2_Core'
                - $ref: '#/components/schemas/SinglePayment_Cross_Border_CT_Core'
          application/xml:
            schema:
              description: |
                A pain.001 structure corresponding to the Credit Transfer schema for the respective service
              type: string
      responses:
        '201':
          $ref: '#/components/responses/created_201_PIS'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/bulk-payments/{payment-product}:
    post:
      summary: Payment Initiation Request for Bulk Payments
      description: | 
        Creates a payment initiation request at the ASPSP. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", sections \"Bulk Payment Initiation with JSON encoding of the Payment Instruction\" and \"Bulk Payment Initiation with XML message as Payment Instruction\".
      operationId: initiatePaymentBulk
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentProduct_BulkPayments'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
        - $ref: '#/components/parameters/HEADER_clientScaApproachPreference'
        - $ref: '#/components/parameters/HEADER_clientRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientNokRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientExplicitAuthorisationPreferred'
        - $ref: '#/components/parameters/HEADER_clientNotificationUri'
        - $ref: '#/components/parameters/HEADER_clientNotificationContentPreferred'
        - $ref: '#/components/parameters/HEADER_clientVopRequested'
        - $ref: '#/components/parameters/HEADER_clientVopRequestId'
        - $ref: '#/components/parameters/HEADER_clientBrandLoggingInformation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_consentId_optional'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_mandatory'
        - $ref: '#/components/parameters/HEADER_tppRejectionNoFundsPreferred'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              anyOf: #Different Payment products in JSON
                - $ref: '#/components/schemas/BulkPayment_SCT_Core'
                - $ref: '#/components/schemas/BulkPayment_SCT_inst_Core'
                - $ref: '#/components/schemas/BulkPayment_Target2_Core'
                - $ref: '#/components/schemas/BulkPayment_Cross_Border_CT_Core'
          application/xml:
            schema:
              description: |
                A pain.001 structure corresponding to the Credit Transfer schema for the respective service
              type: string
      responses:
        '201':
          $ref: '#/components/responses/created_201_PIS'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/periodic-payments/{payment-product}:
    post:
      summary: Payment Initiation Request for periodic Payments
      description: | 
        Creates a payment initiation request at the ASPSP. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", sections \"Standing Orders for Recurring/Periodic Payments in JSON encoding\" and \"Payment Initiation for Standing Orders with XML based payment data\".
      operationId: initiatePaymentPeriodic
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentProduct_SinglePayments'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
        - $ref: '#/components/parameters/HEADER_clientScaApproachPreference'
        - $ref: '#/components/parameters/HEADER_clientRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientNokRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientExplicitAuthorisationPreferred'
        - $ref: '#/components/parameters/HEADER_clientNotificationUri'
        - $ref: '#/components/parameters/HEADER_clientNotificationContentPreferred'
        - $ref: '#/components/parameters/HEADER_clientVopRequested'
        - $ref: '#/components/parameters/HEADER_clientVopRequestId'
        - $ref: '#/components/parameters/HEADER_clientBrandLoggingInformation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_consentId_optional'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_mandatory'
        - $ref: '#/components/parameters/HEADER_tppRejectionNoFundsPreferred'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              anyOf: #Different Payment products in JSON
                - $ref: '#/components/schemas/PeriodicPayment_SCT_Core'
                - $ref: '#/components/schemas/PeriodicPayment_SCT_inst_Core'
                - $ref: '#/components/schemas/PeriodicPayment_Target2_Core'
                - $ref: '#/components/schemas/PeriodicPayment_Cross_Border_CT_Core'
          multipart/form-data:
            schema:
              description: |
              type: object
              properties:
                xml_sct:
                  type: string
                json_standingorderType:
                  type: object
                  required:
                    - startDate
                    - frequency
                  properties:
                    startDate:
                      description: |
                        The first applicable day of execution starting from this date is the first payment. 
                      allOf:
                        - $ref: '#/components/schemas/ISODate'
                    executionRule:
                      description: |
                         \"following\" or \"preceding\" supported as values. This data attribute defines the behavior when recurring payment dates falls 
                         on a weekend or bank holiday. The payment is then executed either the \"preceding\" or \"following\" working day.ASPSP might reject 
                         the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule. 
                      type: string
                    endDate:
                      description: |
                        The last applicable day of execution\r\n If not given, it is an infinite standing order.
                      allOf:
                        - $ref: '#/components/schemas/ISODate'
                    frequency:
                      description: |
                        Frequency of the recurring payment resulting from this standing order. 
                      allOf:
                        - $ref: '#/components/schemas/EventFrequencyCode'
                    dayOfExecution:
                      description: |
                        \"31\" is ultimo
                      allOf:
                        - $ref: '#/components/schemas/Max2Text'
                    monthsOfExecution:
                      description: |
                        The format is following the regular expression \d{1,2}. The array is restricted to 11 entries. The values contained In the 
                        array entries shall all be different and the maximum value of one entry is 12. 
                        This attribute is contained if and only if the frequency equals \"MonthlyVariable\". 
                        Example: An execution on January, April and October each year is addressed by [\"1\". \"4\", \"10\"]. 
                      type: array
                      items:
                        $ref: '#/components/schemas/Max2Text'
            encoding:
              xml_sct:
                contentType: application/xml
              json_standingorderType:
                contentType: application/json
      responses:
        '201':
          $ref: '#/components/responses/created_201_PIS'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{payment-service}/{payment-product}/{paymentId}/status:
    get:
      summary: Payment Status Request
      description: | 
        Reads the status of a payment initiation. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Get Transaction Status Request\".
      operationId: getTransactionStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentService'
        - $ref: '#/components/parameters/PATH_paymentProduct_all'
        - $ref: '#/components/parameters/PATH_paymentId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PIS_Status'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{payment-service}/{payment-product}/{paymentId}:
    get:
      summary: Get Payment Request
      description: | 
        Reads the content of a payment initiation. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Get Payment Request\".
      operationId: getPayment
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentService'
        - $ref: '#/components/parameters/PATH_paymentProduct_all'
        - $ref: '#/components/parameters/PATH_paymentId'
        - $ref: '#/components/parameters/QUERY_toBeSigned'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PIS_Payment'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
    delete:
      summary: Payment Cancellation Request
      description: | 
        Initiates the cancellation of a payment 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Payment Cancellation Request\".
      operationId: deletePayment
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentService'
        - $ref: '#/components/parameters/PATH_paymentProduct_all'
        - $ref: '#/components/parameters/PATH_paymentId'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
        - $ref: '#/components/parameters/HEADER_clientScaApproachPreference'
        - $ref: '#/components/parameters/HEADER_clientRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientNokRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientExplicitAuthorisationPreferred'
        - $ref: '#/components/parameters/HEADER_clientNotificationUri'
        - $ref: '#/components/parameters/HEADER_clientNotificationContentPreferred'
        - $ref: '#/components/parameters/HEADER_clientBrandLoggingInformation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '202':
          $ref: '#/components/responses/accepted_202_PIS_Payment'
        '204':
          $ref: '#/components/responses/created_204_PIS_Payment'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS_CANC'
        '406':
          $ref: '#/components/responses/decline_406_PIS'
        '408':
          $ref: '#/components/responses/decline_408_PIS'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415_PIS'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/bulk-payments/{payment-product}/{paymentId}/extended-status:
    get:
      summary: Bulk Payment Extended Status Request
      description: | 
        Can check the overall status of a bulk payment initiation together with reporting rejected transactions. 
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Get Bulk Extended Status Request\".
      operationId: getBulkExtendedStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentProduct_all'
        - $ref: '#/components/parameters/PATH_paymentId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PIS_ExtendedStatus'
        '400':
          $ref: '#/components/responses/decline_400_PIS'
        '401':
          $ref: '#/components/responses/decline_401_PIS'
        '403':
          $ref: '#/components/responses/decline_403_PIS'
        '404':
          $ref: '#/components/responses/decline_404_PIS'
        '405':
          $ref: '#/components/responses/decline_405_PIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{resource-path}/{resourceId}/{authorisation-category}:
    post:
      summary: Start Authorisation Process
      description: | 
        Creates an account information consent resource at the ASPSP regarding access to account information to account types and accounts specified in this request.
      operationId: startAuthorisationProcess
      tags:
        - Authorisation
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_resourcePath'
        - $ref: '#/components/parameters/PATH_resourceId'
        - $ref: '#/components/parameters/PATH_authorisationCategory'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
        - $ref: '#/components/parameters/HEADER_clientScaApproachPreference'
        - $ref: '#/components/parameters/HEADER_clientRedirectUri'
        - $ref: '#/components/parameters/HEADER_clientNokRedirectUri'
      requestBody:
        required: false #default: No Authorisation Body
        content:
          application/json:
            schema:
              anyOf: #Different Authorisation Bodies
                - type: object #Case: \"startAuthorisationWithPsuAuthentication\" or \"startAuthorisationWithEncryptedPsuAuthentication\"
                  required:
                    - psuData
                  properties: 
                    psuData:
                      description: |
                        The password, orencryptedPassword, subfield is used, depending depending on encryption requirements of the ASPSP as indicated in the corresponding hyperlink 
                        contained in the preceding response message of the ASPSP. The related encryption requirements are defined in Document \"Protocol Functions and Security Measures\". 
                      allOf:
                        - $ref: '#/components/schemas/psuCredentials'
                - type: object #Case: \"startAuthorisationWithAuthenticationMethodSelection\"
                  required:
                    - authenticationMethodId 
                  properties: 
                    authenticationMethodId :
                      description: |
                        The authentication method ID as provided by the ASPSP. 
                      type: string
      responses:
        '201':
          $ref: '#/components/responses/created_201_AUTHORISATION'
        '400':
          $ref: '#/components/responses/decline_400_AUTHORISATION'
        '401':
          $ref: '#/components/responses/decline_401_AUTHORISATION'
        '403':
          $ref: '#/components/responses/decline_403_AUTHORISATION'
        '404':
          $ref: '#/components/responses/decline_404_AUTHORISATION'
        '405':
          $ref: '#/components/responses/decline_405_AUTHORISATION'
        '406':
          $ref: '#/components/responses/decline_406_AUTHORISATION'
        '408':
          $ref: '#/components/responses/decline_408_AUTHORISATION'
        '409':
          $ref: '#/components/responses/decline_409_AUTHORISATION'
        '415':
          $ref: '#/components/responses/decline_415_AUTHORISATION'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
    get:
      summary: Get Authorisation Sub-Resources Request
      description: | 
        Will deliver an array of resource identifications of all generated authorisation or cancellation authorisation sub-resources.
      operationId: getAuthorisationSubResources
      tags:
        - Authorisation
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_resourcePath'
        - $ref: '#/components/parameters/PATH_resourceId'
        - $ref: '#/components/parameters/PATH_authorisationCategory'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/created_200_GET_AUTHORISATION_IDS'
        '400':
          $ref: '#/components/responses/decline_400_AUTHORISATION'
        '401':
          $ref: '#/components/responses/decline_401_AUTHORISATION'
        '403':
          $ref: '#/components/responses/decline_403_AUTHORISATION'
        '404':
          $ref: '#/components/responses/decline_404_AUTHORISATION'
        '405':
          $ref: '#/components/responses/decline_405_AUTHORISATION'
        '406':
          $ref: '#/components/responses/decline_406_AUTHORISATION'
        '408':
          $ref: '#/components/responses/decline_408_AUTHORISATION'
        '409':
          $ref: '#/components/responses/decline_409_AUTHORISATION'
        '415':
          $ref: '#/components/responses/decline_415_AUTHORISATION'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{resource-path}/{resourceId}/{authorisation-category}/{authorisationId} :
    get:
      summary: Get Authorisation Status Request
      description: | 
        Checks the SCA status of an authorisation or cancellation authorisation sub-resource.
      operationId: getAuthorisationStatus
      tags:
        - Authorisation
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_resourcePath'
        - $ref: '#/components/parameters/PATH_resourceId'
        - $ref: '#/components/parameters/PATH_authorisationCategory'
        - $ref: '#/components/parameters/PATH_authorisationId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/created_200_GET_AUTHORISATION_STATUS'
        '400':
          $ref: '#/components/responses/decline_400_AUTHORISATION'
        '401':
          $ref: '#/components/responses/decline_401_AUTHORISATION'
        '403':
          $ref: '#/components/responses/decline_403_AUTHORISATION'
        '404':
          $ref: '#/components/responses/decline_404_AUTHORISATION'
        '405':
          $ref: '#/components/responses/decline_405_AUTHORISATION'
        '406':
          $ref: '#/components/responses/decline_406_AUTHORISATION'
        '408':
          $ref: '#/components/responses/decline_408_AUTHORISATION'
        '409':
          $ref: '#/components/responses/decline_409_AUTHORISATION'
        '415':
          $ref: '#/components/responses/decline_415_AUTHORISATION'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
    put:
      summary: Update PSU Data
      description: | 
        Updates the addressed authorisation sub-resource data on the server by PSU data if requested by the ASPSP.
      operationId: updatePSUData
      tags:
        - Authorisation
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_resourcePath'
        - $ref: '#/components/parameters/PATH_resourceId'
        - $ref: '#/components/parameters/PATH_authorisationCategory'
        - $ref: '#/components/parameters/PATH_authorisationId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_psuId'
        - $ref: '#/components/parameters/HEADER_psuIdType'
        - $ref: '#/components/parameters/HEADER_psuCorporateId'
        - $ref: '#/components/parameters/HEADER_psuCorporateIdType'
      requestBody:
        required: false #Case: \"Update PSU Data (Identification)\": No Authorisation Body
        content:
          application/json:
            schema:
              anyOf: #Different Authorisation Bodies
                - type: object #Case: \"Update PSU Data (Authentication)\"  in the Decoupled or Embedded Approach 
                  required:
                    - psuData
                  properties: 
                    psuData:
                      description: |
                         The password, orencryptedPassword, subfield is used, depending depending on encryption requirements of the ASPSP as indicated in the corresponding hyperlink 
                         contained in the preceding response message of the ASPSP. The related encryption requirements are defined in document \"Protocol Functions and Security Measures\". 
                      allOf:
                        - $ref: '#/components/schemas/psuCredentials'
                - type: object #Case: \"Update PSU Data (Select Authentication Method)\"
                  required:
                    - authenticationMethodId 
                  properties: 
                    authenticationMethodId :
                      description: |
                        The authentication method ID as provided by the ASPSP. 
                      type: string
                - type: object #Case: \"Transaction Authorisation\"
                  properties: 
                    scaAuthenticationData :
                      description: |
                        SCA authentication data, depending on the chosen authentication method. If the data is binary, then it is base64 encoded. 
                      type: string
                    signatureData :
                      description: |
                        Data needed for the verification of the signature (e.g. JWS for JSON signatures) 
                      type: string 
                - type: object #Case: \"Authorisation Confirmation\"
                  required:
                    - confirmationCode 
                  properties: 
                    confirmationCode :
                      description: |
                        Confirmation code as retrieved by the TPP within the Redirect SCA Approach as described in document \"Protocol Functions and Security Measures\". 
                      type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PUT_AUTHORISATION'
        '400':
          $ref: '#/components/responses/decline_400_AUTHORISATION'
        '401':
          $ref: '#/components/responses/decline_401_AUTHORISATION'
        '403':
          $ref: '#/components/responses/decline_403_AUTHORISATION'
        '404':
          $ref: '#/components/responses/decline_404_AUTHORISATION'
        '405':
          $ref: '#/components/responses/decline_405_AUTHORISATION'
        '406':
          $ref: '#/components/responses/decline_406_AUTHORISATION'
        '408':
          $ref: '#/components/responses/decline_408_AUTHORISATION'
        '409':
          $ref: '#/components/responses/decline_409_AUTHORISATION'
        '415':
          $ref: '#/components/responses/decline_415_AUTHORISATION'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{resource-path}/{resourceId}:
    put:
      summary: Update Resource with Debtor Account
      description: | 
        The following method is used to update a payment related resource by an account which is associated to a PSU, and which needs to be received from the ASPSP first in the response of the \"Update PSU Data with Authentication Request\". 
        Remark: This procedure might be offered by the ASPSP in decoupled or embedded SCA channels to support "noManualIbanEntry" requirements from regulators for payment initiation.
      operationId: updateResourceWithDebtorAccount
      tags:
        - Authorisation
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_resourcePath'
        - $ref: '#/components/parameters/PATH_resourceId'
        - $ref: '#/components/parameters/HEADER_psuIpAddress_optional'
        - $ref: '#/components/parameters/HEADER_psuIpPort'
        - $ref: '#/components/parameters/HEADER_psuAccept'
        - $ref: '#/components/parameters/HEADER_psuAcceptCharset'
        - $ref: '#/components/parameters/HEADER_psuAcceptEncoding'
        - $ref: '#/components/parameters/HEADER_psuAcceptLanguage'
        - $ref: '#/components/parameters/HEADER_psuUserAgent'
        - $ref: '#/components/parameters/HEADER_psuHttpMethod'
        - $ref: '#/components/parameters/HEADER_psuDeviceId'
        - $ref: '#/components/parameters/HEADER_psuGeoLocation'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf: #Different Authorisation Bodies
                - type: object 
                  required:
                    - debtorAccount
                  properties: 
                    debtorAccount:
                      description: |
                         The resourceId of the account as provided in the \"Update PSU Data with Authentication Request\" response shall be used as the technical account reference.
                      allOf:
                        - $ref: '#/components/schemas/accountResourceReference'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PUT_RESOURCE_WITH_DEBTOR_ACCOUNT'
        '400':
          $ref: '#/components/responses/decline_400_AUTHORISATION'
        '401':
          $ref: '#/components/responses/decline_401_AUTHORISATION'
        '403':
          $ref: '#/components/responses/decline_403_AUTHORISATION'
        '404':
          $ref: '#/components/responses/decline_404_AUTHORISATION'
        '405':
          $ref: '#/components/responses/decline_405_AUTHORISATION'
        '406':
          $ref: '#/components/responses/decline_406_AUTHORISATION'
        '408':
          $ref: '#/components/responses/decline_408_AUTHORISATION'
        '409':
          $ref: '#/components/responses/decline_409_AUTHORISATION'
        '415':
          $ref: '#/components/responses/decline_415_AUTHORISATION'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'


components:
  securitySchemes:
    BearerAuthOAuth:
      description: |
        Bearer Token. 
        Is contained only, if an OAuth2 based authentication was performed in a pre-step or 
        an OAuth2 based SCA was performed in a preceding AIS service in the same session.
      type: http
      scheme: bearer
  schemas:
    MessageCode_PushAisSpecific_409:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Push AIS Specific Error Codes\" for more details.
      type: string
      enum: 
        - PRIOR_SUBSCRIPTION_AVAILABLE
      example: 'PRIOR_SUBSCRIPTION_AVAILABLE'
    Max500Text:
      type: string
      maxLength: 500
      example: 'Text, maximum of 500 characters.'
    CurrencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{3}'
      example: 'EUR'
    clientMessageInformation_409_AUTHORISATION:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    error_RFC7807_403_AUTHORISATION: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        _links:
          $ref: '#/components/schemas/links'
    AccountStatusCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Acount Status Code\" for more details.
      type: string
      enum: 
        - enabled
        - deleted
        - blocked
      example: 'enabled'
    clientMessageInformation_404_AUTHORISATION:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    remittance:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Remittance\" for more details.
      type: object
      properties:
        referredDocumentInformation:
          description: |
            Set of elements used to identify the documents referred to in the remittance information.
          allOf:
            - $ref: '#/components/schemas/referredDocumentInformation'
        creditorReferenceInformation:
          description: |
            Reference information provided by the creditor to allow the identification of the underlying documents.
          allOf:
            - $ref: '#/components/schemas/creditorReferenceInformation'
        additionalRemittanceInformation:
          description: |
            Additional information to be displayed to the PSU e.g. within authorisation processes. This will not be used in related interbank payments.
          type: array
          items:
            $ref: '#/components/schemas/Max140Text'
    MessageCode_PushAisSpecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Push AIS Specific Error Codes\" for more details.
      type: string
      enum: 
        - SUBSCRIPTION_INVALID
        - SECONDARY_URI_NOT_SUPPORTED
        - MIME_TYPE_NOT_SUPPORTED
        - LIMIT_FOR_BALANCE_NOT_SUPPORTED
        - ACCOUNT_CURRENCY_NOT_MATCHING
        - BALANCE_TYPE_NOT_SUPPORTED
      example: 'SUBSCRIPTION_INVALID'
    _links_201_PIS: 
      type: object
      additionalProperties: 
        $ref: '#/components/schemas/hrefType'
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        confirmation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          $ref: '#/components/schemas/hrefType'
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        creditorNameConfirmation:
          $ref: '#/components/schemas/hrefType'
        encryptionCertificates:
          type: array
          items: 
            $ref: '#/components/schemas/hrefType'
    financialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Financial Institution Identification\" for more details.
      type: object
      properties:
        bicfi:
          description: |
          allOf:
            - $ref: '#/components/schemas/BICFI'
        clearingSystemMemberId:
          description: |
            Information used to identify a member within a clearing system.
          allOf:
            - $ref: '#/components/schemas/clearingSystemMemberIdentification'
        name:
          description: |
            Name of the financial institution
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postalAddress:
          description: |
            Postal Address of the financial institution.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
        other:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          allOf:
            - $ref: '#/components/schemas/genericFinancialInstitutionIdentification'
    Max35Text:
      type: string
      maxLength: 35
      example: 'Text, maximum of 35 characters.'
    Max2Text:
      type: string
      maxLength: 2
      example: '2C'
    accountReference:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        pan:
          description: |
            Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        maskedPan:
          description: |
            Primary Account Number (PAN) of a card in a masked form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        msisdn:
          description: |
            An alias to access a payment account via a registered mobile phone number.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        other:
          description: |
            An alias with a proprietary coding
          allOf:
            - $ref: '#/components/schemas/genericAccountIdentification'
        typeCode:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/CashAccountType'
        typeProprietary:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        proxy:
          description: |
          allOf:
            - $ref: '#/components/schemas/proxyAccountIdentification'
        name:
          description: |
            Name of the account
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        owner: 
          description: |
          allOf: 
            - $ref: '#/components/schemas/partyDescription2'
        servicer:
          description: |
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
    amountDependentRate:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Amount dependent Rate\" for more details.
      type: object
      required:
        - percentage
      properties:
        percentage:
          description: |
            The (signed) rate of the interest.
            Up to 20 significant figures. The decimal separator is a dot.
            Trailing zeroes must be truncated.
          type: string
          pattern: '-?[0-9]{1,20}(\.[0-9]{0,19})?'
        fromAmount:
          description: |
            Amount from which the interest rate applies.
          allOf:
            - $ref: '#/components/schemas/amount'
        toAmount:
          description: |
            Amount up to which the interest rate applies.
          allOf:
            - $ref: '#/components/schemas/amount'
    additionalRequestInformation:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Additional Request Information\" for more details.
      type: object
      required:
        - requestedExpiryDateTime
      properties:
        paymentConditions:
          description: |
            Conditions for the execution of the payment.
          allOf:
            - $ref: '#/components/schemas/paymentConditions'
        creationDateTime:
          description: |
            creationDateTime of the originator
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        requestedExpiryDateTime:
          description: |
            Date and Time at which this request expires.
          allOf:
            - $ref: '#/components/schemas/ISODateTime'
        originatorPspId:
          description: |
            Originator payment service provider in case of indirect participation regarding a related API Access Scheme or bilateral contract
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
        receiverPspId:
          description: |
            Receiving payment service provider as defined by an API Access Scheme or bilateral contracts in case of not addressing the receiving institution directly. 
            It is mandatory in case where the technical API Provider is not the receiver as such.
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
    ChargeBearer:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Charge Bearer\" for more details.
      type: string
      enum:
        - DEBT
        - CRED
        - SHAR
        - SLEV
      example: 'SLEV'
    CashAccountType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - CACC
        - CARD
        - CASH
        - CHAR
        - CISH
        - COMM
        - CPAC
        - LLSV
        - LOAN
        - MGLD
        - MOMA
        - NREX
        - ODFT
        - ONDP
        - OTHR
        - SACC
        - SLRY
        - SVGS
        - TAXE
        - TRAN
        - TRAS
        - VACC
        - NFCA
      example: 'CACC'
    MessageCode_405_PIS_CANC: 
      description: |
        Message codes defined for payment cancelations within PIS for HTTP Error code 405 (METHOD NOT ALLOWED)
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_405'
    messageCode_SigningBasketSpecific:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Signing Basket Specific Error Codes\" for more details.
      oneOf:
        - $ref: '#/components/schemas/MessageCode_SigningBasketSpecific_400'
        - $ref: '#/components/schemas/MessageCode_SigningBasketSpecific_409'
    minimum_SCT_inst_Core:
      type: object
      description: |
        Minimum payment data model containing all elements that are common for single payments, periodic payments and bulk payments
      required:
        - creditor
        - creditorAccount
        - instructedAmount
      properties:
        paymentIdentification:
          description: |
            Set of elements used to reference a payment instruction.
          allOf:
            - $ref: '#/components/schemas/paymentIdentification1'
        paymentMethod:
          description: |
            Specifies the means of payment that will be used to move the amount of money.
            Usage: Only used for cross-border transactions.
            If no paymentMethod is explicitly stated, paymentMethod will be interpreted as **TRF** (Credit Transfer).
          allOf:
            - $ref: '#/components/schemas/CreditTransferPaymentMethodCode'
#         instructionPriority:
#           description: |
#             Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.
#           allOf:
#             - $ref: '#/components/schemas/PriorityCode'
#         serviceLevelCode:
#           description: |
#             Agreement under which or rules under which the transaction should be processed, provided as a code.
#           allOf:
#             - $ref: '#/components/schemas/ServiceLevelCode'
#         localInstrumentCode:
#           description: |
#             Agreement under which or rules under which the transaction should be processed, provided in proprietary encoding. *Remark:* Within the SDD scheme, only "CORE" or "B2B" are used
#           allOf:
#             - $ref: '#/components/schemas/ExternalLocalInstrumentCode'
#         localInstrumentProprietary:
#           description: |
#             *Remark:* Within the SDD scheme, usage of this element is not supported.
#           allOf:
#             - $ref: '#/components/schemas/Max35Text'
#         categoryPurposeCode:
#           description: |
#             Specifies the high level purpose of the instruction based on a set of pre-defined categories; provided as code.
#           allOf:
#             - $ref: '#/components/schemas/CategoryPurposeCode'
#         categoryPurposeProprietary:
#           description: |
#             Specifies the high level purpose of the instruction based on a set of pre-defined categories; provided in proprietary encoding.
#           allOf:
#             - $ref: '#/components/schemas/Max35Text'
#         chargeBearer:
#           description: |
#             Specifies which party/parties will bear the charges associated with the processing of the payment transaction.
#           allOf:
#             - $ref: '#/components/schemas/ChargeBearer'
#         chargesAccount:
#           description: |
#             Account used to process charges asso-ciated with a transaction.
#           allOf:
#             - $ref: '#/components/schemas/accountReference'
#         ultimateDebtor:
#           description: |
#             Ultimate party that owes an amount of money to the (ultimate) creditor. Restriction to the schema are applied depending on the product.
#           allOf:
#             - $ref: '#/components/schemas/partyDescription'
        instructedAmount:
          description: |
            Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.
          allOf:
            - $ref: '#/components/schemas/amount'
#         currencyOfTransfer:
#           description: |
#             This is a data element to indicate a diverging interbank transaction currency.
#             Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
#           allOf:
#             - $ref: '#/components/schemas/CurrencyCode'
#         exchangeRateInformation:
#           description: |
#             Set of elements used to provide details on the currency exchange rate and contract.
#           allOf:
#             - $ref: '#/components/schemas/paymentExchangeRate'
#         intermediaryAgent1:
#           description: |
#             Financial institution servicing as intermediary agent.
#           allOf:
#             - $ref: '#/components/schemas/agentDescription'
#         intermediaryAgent2:
#           description: |
#             Financial institution servicing as intermediary agent.
#           allOf:
#             - $ref: '#/components/schemas/agentDescription'
        creditorAccount:
          description: |
            Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/accountReference1'
        creditorAgent:
          description: |
            Financial institution servicing an account for the creditor.
          allOf:
            - $ref: '#/components/schemas/agentDescription1'
        creditor:
          description: |
            Party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/partyDescription1'
        ultimateCreditor:
          description: |
            Ultimate party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/partyDescription3'
#         purposeCode:
#           description: |
#             Specifies the purpose of the instruction based the code set ExternalPurpose1Code from ISO 20022.
#           allOf:
#             - $ref: '#/components/schemas/PurposeCode'
#         purposeProprietary:
#           description: |
#             Specifies the purpose of the instruction in proprietary encoding
#           allOf:
#             - $ref: '#/components/schemas/Max35Text'
        remittanceInformationUnstructured:
          description: |
              Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, 
              such as commercial invoices in an accounts' receivable system, in an unstructured form.
          type: array
          minItems: 1
          maxItems: 1
          items:
            $ref: '#/components/schemas/Max140Text'
          example:
            - '{"Ref Number Merchant"}'
#         remittanceInformationStructured:
#           description: |
#               Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, 
#               such as commercial invoices in an accounts' receivable system, in a structured form.
#           type: array
#           minItems: 1
#           maxItems: 1
#           items:
#             $ref: '#/components/schemas/remittance'
#           example: []
#         regulatoryReporting:
#           description: |
#             Information needed due to regulatory and statutory requirements.
#           type: array
#           items:
#             $ref: '#/components/schemas/regulatoryReporting'
#         additionalRequestInformation:
#           description: |
#             Request related information which is not directly linked to the payment transaction.
#             Only applicable for request to pay services and extended payment services.
#           allOf:
#             - $ref: '#/components/schemas/additionalRequestInformation'
    MessageCode_400_PIS:
      description: Message codes defined for PIS for HTTP Error code 400 (BAD_REQUEST).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_400'
    error_NG_409_PIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_409_PIS'
        _links:
          $ref: '#/components/schemas/links'
    _links_201_AUTHORISATION: 
      type: object
      additionalProperties: 
        $ref: '#/components/schemas/hrefType'
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        confirmation:
          $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        transactionFees:
          $ref: '#/components/schemas/hrefType'
        encryptionCertificates:
          type: array
          items: 
            $ref: '#/components/schemas/hrefType'
    partyDescription3:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description3\" for more details.
      type: object
      properties:
        identification:
          description: |
            Identification of the party.
          allOf:
            - $ref: '#/components/schemas/partyIdentification1'
    error_NG_403_AUTHORISATION: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_403_AUTHORISATION'
        _links:
          $ref: '#/components/schemas/links'
    partyDescription2:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description2\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postaladdress:
          description: |
            Postal Address of the party.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
    partyDescription1:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description1\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
    BulkPayment_Target2_Core:
      type: object
      description: |
        The structure defines the data model to be used under /v2/bulk-payments/{credit-transfer-product}.
        Further restrictions on data attribute types, inherited from the credit transfer product might apply.
      required:
        - controlSum
        - creditTransfers
        - debtorAccount
        - numberOfTransactions
        - paymentInformationId
      properties:
        paymentInformationId:
          description: |
            Unique identification as assigned by the sending party to unambiguously identify this bulk payment. 
            This attribute may be used by ASPSPs or communities as an optional field. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        paymentMethod:
          description: |
            Specifies the means of payment that will be used to move the amount of money. 
            Usage: Only used for cross-border transactions. 
            If no paymentMethod is explicitly indicated, paymentMethod will be interpreted as "TRF" (Credit Transfer).
          allOf:
            - $ref: '#/components/schemas/CreditTransferPaymentMethodCode'
        batchBooking:
          description: |
            If this element equals true, the PSU pre-fers only one booking entry. If this element equals false, the PSU prefers individual 
            booking of all contained individual transactions. The ASPSP will follow this preference according to contracts agreed on with the PSU.
          type: boolean
        numberOfTransactions:
          description: |
            Number of individual transactions con-tained in the related bulk.
          type: integer
        controlSum:
          description: |
            Total of all individual amounts included in the group, irrespective of currencies.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
#         serviceLevelCode:
#           description: |
#             Agreement under which or rules under which the transaction should be processed, provided as a code.
#           allOf:
#             - $ref: '#/components/schemas/ServiceLevelCode'
        chargeBearer:
          description: |
            Specifies which party/parties will bear the charges associated with the processing of the payment transaction.
          allOf:
                - $ref: '#/components/schemas/ChargeBearer'
#         categoryPurposeCode:
#           description: |
#             Specifies the high level purpose of the instruction based on a set of pre-defined categories; provided as code.
#           allOf:
#             - $ref: '#/components/schemas/CategoryPurposeCode'
#         categoryPurposeProprietary:
#           description: |
#             Specifies the high level purpose of the instruction based on a set of pre-defined categories; provided in proprietary encoding.
#           allOf:
#             - $ref: '#/components/schemas/Max35Text'
#         localInstrumentCode:
#           description: |
#             Agreement under which or rules under which the transaction should be processed, provided in proprietary encoding. *Remark:* Within the SDD scheme, only "CORE" or "B2B" are used
#           allOf:
#             - $ref: '#/components/schemas/ExternalLocalInstrumentCode'
#         localInstrumentProprietary:
#           description: |
#             *Remark:* Within the SDD scheme, usage of this element is not supported.
#           allOf:
#             - $ref: '#/components/schemas/Max35Text'
#         debtor:
#           description: |
#             Party that owes an amount of money to the (ultimate) creditor.
#           allOf:
#             - $ref: '#/components/schemas/partyDescription'
#         ultimateDebtor:
#           description: |
#             Ultimate party that owes an amount of money to the (ultimate) creditor. Restriction to the schema are applied depending on the product.
#           allOf:
#             - $ref: '#/components/schemas/partyDescription'
        debtorAccount:
          description: |
            Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/accountReference1'
#         requestedExecutionDate:
#           description: |
#             Date at which the initiating party requests the clearing agent to process the payment.
#           allOf:
#             - $ref: '#/components/schemas/ISODate'
#         requestedExecutionDateTime:
#           description: |
#             Date and time at which the initiating party requests the clearing agent to process the payment.
#           allOf:
#             - $ref: '#/components/schemas/ISODateTime'
        creditTransfers:
          description: |
            The Credit Transfer Bulk Entry  is a type which follows the JSON formats for the supported products for single payments, excluding the data elements
              * debtorAccount, 
              * debtor
              * debtorAgent
              * requestedExecutionDate,
              * requestedExecutionDateTime.
              These data elements may not be contained in any bulk entry.
              In addition, the following entries will be allowed for every single entry, if not used already on bulk level:
              * chargeBearer
              * chargesAccount
              * categoryPurposeCode
              * categoryPurposeProprietary
              * serviceLevelCode
              * localnstrumentCode
              * localInstrumentProprietary
              * ultimateDebtor
              In addition, the attributes
              * purposeCode
              * remittanceInformationStructured
              are always available on entry level if sup-ported by the related payment product.
          type: array
          items: 
            $ref: '#/components/schemas/minimum_Target2_Core'
#         transactionStatus:
#               $ref: '#/components/schemas/TransactionStatus'
#         apiClientMessages:
#           type: array
#           items:
#             $ref: '#/components/schemas/clientMessageInformation'
    partyIdentification1:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Identification1\" for more details.
      type: object
      required:
        - privateId
      properties:
        privateId:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/privateIdentification'
    Max256Text:
      type: string
      maxLength: 256
      example: 'Text, maximum of 256 characters.'
    error_RFC7807_404_PIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_404_PIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_404_PIS'
        _links:
          $ref: '#/components/schemas/links'
    accountResourceReference:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Resource Reference\" for more details.
      type: object
      properties:
        resourceId:
          description: |
            To be used in authorisation processes, when updating a resource by an account.
          allOf:
            - $ref: '#/components/schemas/UUID'
    clientMessageInformation_400_PIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_400_PIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    accountReference1:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference1\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        pan:
          description: |
            Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        maskedPan:
          description: |
            Primary Account Number (PAN) of a card in a masked form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
    accountReference3:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference3\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        other:
          description: |
            An alias with a proprietary coding
          allOf:
            - $ref: '#/components/schemas/genericAccountIdentification'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
    NamePrefixCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Name Prefix Code\" for more details.
      type: string
      enum:
        - DOCT
        - MADM
        - MISS
        - MIST
        - MIKS
      example: 'MADM'
    equivalentAmount:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Equivalent Amount\" for more details.
      type: object
      required:
        - amount
        - currencyOfTransfer
      properties:
        amount: 
          description: |
            Amount of money to be transferred between the debtor and creditor, before the deduction of charges, expressed in the currency of the debtor's account, and to be transferred in a different currency. 
            Usage: The first agent will convert the equivalent amount into the amount to be transferred. 
          allOf:
            - $ref: '#/components/schemas/amount'
        currencyOfTransfer:
          description: |
            Specifies the currency of the to be transferred amount, which differes from the currency of the debtor's account.
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
    originalTransactionInformationAndVOPStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Original Transaction Information and Status\" for more details.
      type: object
      required:
        - transactionStatus      
      properties:
        originalInstructionId:
          description: |
            Unique identification, as assigned by the original instructing party for the original instructed party, to unambiguously identify the original instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        originalEndToEndId:
          description: |
            Unique identification, as assigned by the original initiating party to unambiguously identify the original transaction
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        originalUetr:
          description: |
            Universally unique identifier to provide the original end-to-end reference of a payment transaction.
          allOf:
            - $ref: '#/components/schemas/UUID'
        transactionStatus:
          description: |
            Specifies the status of a transaction, as published in an external payment transaction status code list.
          allOf:
            - $ref: '#/components/schemas/TransactionStatus'
        statusReasonInformationCode:
          description: |
            Provides detailed information on the status reason.
          allOf:
            - $ref: '#/components/schemas/StatusReasonCode'
        statusReasonInformationProprietary:
          description: |
            Proprietary additional information on the reason for e.g. rejecting the request.
            Remark: If an ISO Code is available it should be used instead of Proprietary Reasons. Further restrictions could be defined by API Access Schemes. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        statusReasonAdditionalInformation:
          description: |
            Further details on the status reason.
          allOf:
            - $ref: '#/components/schemas/Max105Text'
        originalTransactionReference: 
          description: |
            Key elements used to identify the original transaction that is being referred to.
          allOf:
            - $ref: '#/components/schemas/originalTransactionReference'
        creditorNameMatch:
          description: |
            Will be provided, if an account/owner match was requested, if the related code in the interbank VOP service was \"CMTC\", \"NMTC\" or \"NOAP\" ,i.e. if the transactionStatus also equals \"RVCM\".
          allOf:
            - $ref: '#/components/schemas/PartyNameMatchCode'
        creditorOrganisationIdMatch:
          description: |
            Will be provided, if an account/owner match was requested, if the related code in the interbank VOP service was \"NMTC\" or \"NOAP\" ,i.e. if the transactionStatus also equals \"RVCM\".
          allOf:
            - $ref: '#/components/schemas/PartyIdentificationMatchCode'
        matchedCreditorName:
          description: |
            Provided only in case of \"CMTC\" as code in creditorNameMatch.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
    DocumentFormatCode:
      description: |
         See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - DPDF
        - DXML
        - SDSH
        - WORD
        - XSLT
      example: 'DXML'
    Max140Text:
      type: string
      maxLength: 140
      example: 'Text, maximum of 140 characters.'
    PeriodicPayment_SCT_inst_Core:
      allOf:
        - $ref: '#/components/schemas/minimum_SCT_inst_Core'
        - type: object
          description: |
            Payment data model for periodic Payments
          required:
            - debtorAccount
            - frequency
            - startDate
          properties:
            debtorAccount:
              description: |
                Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
              allOf:
                - $ref: '#/components/schemas/accountReference1'
#             debtor:
#               description: |
#                 Party that owes an amount of money to the (ultimate) creditor.
#               allOf:
#                 - $ref: '#/components/schemas/partyDescription'
            startDate:
              description: |
                The first applicable day of execution starting from this date is the first payment. 
              allOf:
                - $ref: '#/components/schemas/ISODate'
            executionRule:
              description: |
                 \"following\" or \"preceding\" supported as values. This data attribute defines the behavior when recurring payment dates falls 
                 on a weekend or bank holiday. The payment is then executed either the \"preceding\" or \"following\" working day. 
                 ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule. 
              type: string
            endDate:
              description: |
                The last applicable day of execution. If not given, it is an infinite standing order.
              allOf:
                - $ref: '#/components/schemas/ISODate'
            frequency:
              description: |
                The frequency of the recurring payment resulting from this standing order.
              allOf:
                - $ref: '#/components/schemas/EventFrequencyCode'
            dayOfExecution:
              description: |
                 \"31\" is ultimo. The format is following the regular expression \d{1,2}. Example: The first day is addressed by \"1\". 
                 The date is referring to the time zone of the ASPSP. 
              allOf:
                - $ref: '#/components/schemas/Max2Text'
            monthsOfExecution:
              description: |
                The format is following the regular expression \d{1,2}. The array is restricted to 11 entries. The values contained In the 
                array entries shall all be different and the maximum value of one entry is 12. 
                This attribute is contained if and only if the frequency equals \"MonthlyVariable\". 
                Example: An execution on January, April and October each year is addressed by [\"1\". \"4\", \"10\"]. 
              type: array
              items:
                $ref: '#/components/schemas/Max2Text'
#             transactionStatus:
#               $ref: '#/components/schemas/TransactionStatus'
#             apiClientMessages:
#               type: array
#               items:
#                 $ref: '#/components/schemas/clientMessageInformation'
    groupStatus:
      description: | 
        See document \"openFinance API Framework Data Dictionary\", section \"Group Status\" for more details.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - RCVD
        - PDNG
        - RJCT
        - PART
      example: 'PART'
    FinancialInstitutionIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
    error_RFC7807_409_AUTHORISATION: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        _links:
          $ref: '#/components/schemas/links'
    BinaryDocument:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Binary Document\" for more details.
      type: string
    error_RFC7807_400_PIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_400_PIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_400_PIS'
        _links:
          $ref: '#/components/schemas/links'
    ISODate:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: date
      example: '2020-01-01'
    BBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[a-zA-Z0-9]{1,30}' 
      example: 'BARC12345612345678'
    MessageCode_404_PIS: 
      description: Message codes defined for PIS for HTTP Error code 404 (NOT FOUND).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_404'
    securitiesAccountFee:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Securities Account Fee\" for more details.
      type: object
      required:
        - feeRules
      properties:
        typeCode:
          description: |
            Type of the fee as a code.
            Might be adjusted in the future based on market experience.
          allOf:
            - $ref: '#/components/schemas/SecuritiesFeeTypeCode'
        typeProprietary:
          description: |
            Type of the fee as a proprietary string.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        feeRules:
          description: |
            Array of fee rules. Each rule represents ow the amount of the fee is determined either explicitly by stating the amount or implicitly by providing a percentage, minimum and maximum amount.
            This array will usually only contain one entry to represent the whole rule. Only in the case of the fee being calculated as a tiered percentage, 
            several entries are included to represent the several tiers of the fee rule.
          type: array
          items: 
            $ref: '#/components/schemas/securitiesAccountFeeRule'
        applicableFrom:
          description: |
            First date, when this fee is applicable.
            If not present, the fee is applicable starting with the creation of this account / the latest reporting date supported by the ASPSP.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        applicableTo:
          description: |
            Last date, when this fee is applicable. If not present, the fee is applicable indefinitely.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        additionalInformation:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max500Text'
    psuCredentials:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"PSU Credentials\" for more details.
      type: object
      properties:
        password:
          description: |
            Contains a password in plaintext.
          type: string
        encryptedPassword:
          description: |
            Is used when a password is encrypted on application level.
          type: string
    MessageCode_PiisSpecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"PIIS Specific Error Codes\" for more details.
      type: string
      enum: 
        - CARD_INVALID
        - NO_PIIS_ACTIVATION
      example: 'CARD_INVALID'
    ServiceLevelCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - BKTR
        - G001
        - G002
        - G003
        - G004
        - NPCA
        - NUGP
        - NURG
        - PRPT
        - SDVA
        - SEPA
        - SVDE
        - URGP
        - URNS
        - INST
        - SRTP
        - SVAT
        - G006
        - G007
        - G005
        - G009
        - WFSM
        - EOLO
      example: 'SEPA'
    PreferredMethod:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Preferred Method\" for more details.
      type: string
      enum:
        - LETT
        - MAIL
        - PHON
        - FAXX
        - CELL
      example: 'MAIL'
    TransactionStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Transaction Status\" for more details.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
        - PRES
        - RVCM
        - RVNC
        - RCVC
      example: 'ACCC'
    messageCode_PisSpecific:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"PIS Specific Error Codes\" for more details.
      oneOf:
        - $ref: '#/components/schemas/MessageCode_PisSpecific_400'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_401'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_403'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_404'
        - $ref: '#/components/schemas/MessageCode_PisSpecific_405'
    LanguageCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[a-z]{3,3}'
      example: 'eng'
    Max70Text:
      type: string
      maxLength: 70
      example: 'Text, maximum of 70 characters.'
    error_NG_401_AUTHORISATION: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_401_AUTHORISATION'
        _links:
          $ref: '#/components/schemas/links'
    ExchangeRateTypeCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Exchange Rate Type Code\" for more details.
      type: string
      enum:
        - SPOT
        - SALE
        - AGRD
      example: 'SPOT'
    messageCode_ServiceUnspecific:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      oneOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
    partyDescription:
      description: |
[...]
