openapi: 3.0.1

info:
  contact:
    email: info@berlin-group.org
    name: The Berlin Group - A European Standards Initiative
    url: https://www.berlin-group.org/
  description: |
      The component for Confirmation of Funds Service (PIIS) offers the following information service:
      * Information whether an amount necessary for the execution of a card-based payment transaction is available on the payment account of the payer
  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines - Confirmation of Funds Service
  version: "2.3"
  x-references:
    documents:
      - document:
        title: openFinance API Framework Data Dictionary
        version: "2.2.6"
      - document:
        title: openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
        version: "2.3"

externalDocs:
  description: |
    openFinance API Framework XS2A API as PSD2 Interface Implementation Guidelines
  url: https://www.berlin-group.org/openfinance-downloads

servers:
  - url: https://api.testbank.com/psd2
    description: PSD2 server
  - url: https://test-api.testbank.com/psd2
    description: Optional PSD2 test server

tags:
  - name: Confirmation of Funds Service (PIIS)
    description: |
      The component for Confirmation of Funds Service (PIIS) offers the following information service:
      * Information whether an amount necessary for the execution of a card-based payment transaction is available on the payment account of the payer

paths:
  /v2/funds-confirmations:
    post:
      summary: Confirmation of Funds Request
      description: | 
        Creates a confirmation of funds request at the ASPSP.
        See \"XS2A API as PSD2 Interface Implementation Guidelines \", section \"Confirmation of Funds Request\".
      operationId: postConfirmationOfFunds
      tags:
        - Confirmation of Funds Service (PIIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_consentId_optional'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              required:
                - account
                - instructedAmount
              properties:
                cardNumber: 
                  description: |
                    Card Number of the card issued by the PIISP. Should be delivered if available.
                  allOf:
                    - $ref: '#/components/schemas/Max35Text'
                account: 
                  description: |
                    PSU's account number.
                  allOf:
                    - $ref: '#/components/schemas/accountReference'
                payee: 
                  description: |
                    The merchant where the card is accepted as an information to the PSU.
                  allOf:
                    - $ref: '#/components/schemas/Max70Text'
                instructedAmount: 
                  description: |
                    Transaction amount to be checked within the funds check mechanism.
                  allOf:
                    - $ref: '#/components/schemas/amount'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_PIIS'
        '400':
          $ref: '#/components/responses/decline_400_PIIS'
        '401':
          $ref: '#/components/responses/decline_401_PIIS'
        '403':
          $ref: '#/components/responses/decline_403_PIIS'
        '404':
          $ref: '#/components/responses/decline_404_PIIS'
        '405':
          $ref: '#/components/responses/decline_405_PIIS'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_PIIS'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'


components:
  securitySchemes:
    BearerAuthOAuth:
      description: |
        Bearer Token. 
        Is contained only, if an OAuth2 based authentication was performed in a pre-step or 
        an OAuth2 based SCA was performed in a preceding AIS service in the same session.
      type: http
      scheme: bearer
  schemas:
    error_RFC7807_401_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_401_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_401_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    MessageCode_PiisSpecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"PIIS Specific Error Codes\" for more details.
      type: string
      enum: 
        - CARD_INVALID
        - NO_PIIS_ACTIVATION
      example: 'CARD_INVALID'
    Max2048Text:
      type: string
      maxLength: 2048
      example: 'Text, maximum of 2048 characters.'
    error_NG_404_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_404_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    clientMessageInformation_401_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_401_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    Max500Text:
      type: string
      maxLength: 500
      example: 'Text, maximum of 500 characters.'
    CurrencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{3}'
      example: 'EUR'
    Max70Text:
      type: string
      maxLength: 70
      example: 'Text, maximum of 70 characters.'
    hrefType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"href Type\" for more details.
      type: object
      required:
        - href
      properties:
        href:
          description: |
          type: string
    links:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Links\" for more details.
      type: object
      properties:
        scaRedirect:
          description: |
            A link to an ASPSP site where SCA is performed within the Redirect SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaOAuth:
          description: |
            The link refers to a JSON document specifying the OAuth details of the ASPSP's authorisation server. JSON document follows the definition given in [RFC 8414].
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmation:
          description: |
            \"confirmation\": Might be added by the ASPSP if either the \"scaRedirect\" or \"scaOAuth\" hyperlink is returned in the same response message. 
            This hyperlink defines the URL to the resource which needs to be updated with 
            * a confirmation code as retrieved after the plain redirect authentication process with the ASPSP authentication server or
            * an access token as retrieved by submitting an authorization code after the integrated Oauth based authentication process with the ASPSP authentication server.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        creditorNameConfirmation:
          description: |
            A link to an endpoint, where the submitted payment needs to be confirmed explicitly for execution after a verification of payee process has detected a deviation in the creditor account/creditor name pair.
            If this hyperlink is provided, the addressed payment will not be executed without a related confirmation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          description: |
            A link to an endpoint, where the authorisation of a transaction or the authorisation of a transaction cancellation shall be started with a POST command. 
            No specific data is needed for this process start.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU identification shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuIdentification:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the PSU identification if not delivered yet.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithProprietaryData:
          description: |
            A link to the endpoint, where the authorisation of a transaction or of a transaction cancellation shall be started, and where proprietary data needs to be updated with this call. 
            The TPP can find the scope of missing proprietary data in the ASPSP documentation.
            The usage of this hyperlink is not further specified in the specification but is used analogously to e.g. the startAuthorisation withPsuIdentification hyperlink.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateProprietaryData:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the proprietary data.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by a PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where encrypted PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by an encrypted PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          description: |
            This is a link to and endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, 
            where the selected SCA method shall be uploaded  with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          description: |
            This is a link to a resource, where the TPP can select the applicable second factor authentication methods for the PSU, if there were several available authentication methods. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          description: |
            A link to an endpoint, where an authorisation of a transaction or a cancellation can be started, and where the response data for the challenge is uploaded in the same call for the 
            transaction authorisation or transaction cancellation at the same time in the Embedded SCA Approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          description: |
            The link to the payment initiation or consent resource, where the \"Transaction Authorisation\"Request\" is sent to. This is the link to the resource which will authorise the payment or the consent by 
            checking the SCA authentication data within the Embedded SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateResourceByDebtorAccountResource:
          description: |
            A link to a payment related resource which needs to be updated by an account, referenced by a resource identification.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        self:
          description: |
            The link to the payment initiation resource created by the request itself. 
            This link can be used later to retrieve the transaction status of the payment initiation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        status:
          description: |
            A link to retrieve the status of the transaction resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionfees:
          description: |
            The link is to the status resource.  
            This link is only added within the authorisation process in case fee information is available via the status resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaStatus:
          description: |
            A link to retrieve the status of the authorisation or cancellation-authorisation sub-resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        account:
          description: |
            A link to the resource providing the details of one account
          allOf:
            - $ref: '#/components/schemas/hrefType'
        savingsAccount:
          description: |
            A link to the resource providing the details of a savings account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        loanAccount:
          description: |
            A link to the resource providing the details of a loan account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        balances:
          description: |
            A link to the resource providing the balance of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactions:
          description: |
            A link to the resource providing the transaction history of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardAccount:
          description: |
            A link to the resource providing the details of one card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardTransactions:
          description: |
            A link to the resource providing the transaction history of a dedicated card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionDetails:
          description: |
            A link to the resource providing details of a dedicated transaction.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        ibanCheck:
          description: |
            A link to the endpoint offering the addressed iban check result.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        paymentInitiation:
          description: |
            A link to an initiation related to a payment resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        securitiesAccount:
          description: |
            A link to the resource providing the details of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        positions:
          description: |
            A link to the resource providing the list of positions of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orders:
          description: |
            A link to the resource providing the list of orders of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orderDetails:
          description: |
            A link to the resource providing details of one specific order.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        relatedOrders:
          description: |
            An array of links to request order details of related orders related to the order that is represented by the data structure containing this element 
            (e.g. other orders that originated from the same order split as this order). 
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        relatedTransactions:
          description: |
            An array of links to request securities transaction details of transactions that resulted from this order.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        subscription:
          description: |
            A link to the resource providing the details of a subscription for Push AIS Services.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        entryStatusRevoked:
          description: |
            Links to entry endpoints where the entry status is revoked.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        first:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        next:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        previous:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        last:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        download:
          description: |
            Download link for huge AIS data packages.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmInitiation:
          description: |
            link to a confirmation endpoint, where a payment initiation needs to be confirmed explicitly by the API Client for execution.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspParameters:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspContacts:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspDowntimes:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        onboardings:
          description: |
            A link to commercially onboard to the related API, see openFinance, Admin Services for more details.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        readConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
    genericFinancialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Financial Institution Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of a financial insitution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/FinancialInstitutionIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    financialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Financial Institution Identification\" for more details.
      type: object
      properties:
        bicfi:
          description: |
          allOf:
            - $ref: '#/components/schemas/BICFI'
        clearingSystemMemberId:
          description: |
            Information used to identify a member within a clearing system.
          allOf:
            - $ref: '#/components/schemas/clearingSystemMemberIdentification'
        name:
          description: |
            Name of the financial institution
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postalAddress:
          description: |
            Postal Address of the financial institution.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
        other:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          allOf:
            - $ref: '#/components/schemas/genericFinancialInstitutionIdentification'
    MessageCode_405_PIIS: 
      description: |
        Message codes defined for PIIS for HTTP Error code 405 (METHOD NOT ALLOWED).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
    Max35Text:
      type: string
      maxLength: 35
      example: 'Text, maximum of 35 characters.'
    MessageCode_404_PIIS: 
      description: Message codes defined for PIIS for HTTP Error code 404 (NOT FOUND).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
    accountReference:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        pan:
          description: |
            Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        maskedPan:
          description: |
            Primary Account Number (PAN) of a card in a masked form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        msisdn:
          description: |
            An alias to access a payment account via a registered mobile phone number.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        other:
          description: |
            An alias with a proprietary coding
          allOf:
            - $ref: '#/components/schemas/genericAccountIdentification'
        typeCode:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/CashAccountType'
        typeProprietary:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        proxy:
          description: |
          allOf:
            - $ref: '#/components/schemas/proxyAccountIdentification'
        name:
          description: |
            Name of the account
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        owner: 
          description: |
          allOf: 
            - $ref: '#/components/schemas/partyDescription2'
        servicer:
          description: |
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
    IBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      example: 'FR7612345987650123456789014'
    error_NG_403_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_403_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    ClearingSystemIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more detail
      type: string
      enum:
        - ATBLZ
        - AUBSB
        - CACPA
        - CHBCC
        - CHSIC
        - CNAPS
        - DEBLZ
        - ESNCC
        - GBDSC
        - GRBIC
        - HKNCC
        - IENCC
        - INFSC
        - ITNCC
        - JPZGN
        - NZNCC
        - PLKNR
        - PTNCC
        - RUCBC
        - SESBA
        - SGIBG
        - THCBC
        - TWNCC
        - USABA
        - USPID
        - ZANCC
        - NZRSA
        - MZBMO
        - CNCIP
        - KRBOK
      example: 'DEBLZ'
    Max16Text:
      type: string
      maxLength: 16
      example: '16 Chars at most'
    error_NG_409_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_409_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    MessageCode_401_PIIS:
      description: Message codes defined for PIIS for HTTP Error code 401 (UNAUTHORIZED).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
    CashAccountType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - CACC
        - CARD
        - CASH
        - CHAR
        - CISH
        - COMM
        - CPAC
        - LLSV
        - LOAN
        - MGLD
        - MOMA
        - NREX
        - ODFT
        - ONDP
        - OTHR
        - SACC
        - SLRY
        - SVGS
        - TAXE
        - TRAN
        - TRAS
        - VACC
        - NFCA
      example: 'CACC'
    genericAccountIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Account Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of an account.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/AccountIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    postalAddress:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Postal Address (Either Structured or Unstructured Address)\" for more details.
      type: object
      properties:
        addressLines:
          description: |
            At most seven entries are permitted. May only be used, if none of the structured address elements \"streetName\", \"buildingNumber\", \"postcode\" or \"townName\" is used.
            *Remark:* For SEPA transactions this is further restricted to a maximum of 1 entry.
          type: array
          maxItems: 7
          items:
            $ref: '#/components/schemas/Max140Text'
        department:
          description: |
            Identification of a division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        subDepartment:
          description: |
            Identification of a sub-division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        streetName:
          description: |
            Name of a street or thoroughfare.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        buildingNumber:
          description: |
            Number that identifies the position of a building on a street.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        buildingName:
          description: |
            Name of the building or house.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        floor:
          description: |
            Floor or storey within a building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        postBox:
          description: |
            Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        room:
          description: |
            Building room number.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        postCode:
          description: |
            Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        townName:
          description: |
            Name of a built-up area, with defined boundaries, and a local government. 
            *Usage Rule:* If address lines are not used, this attribute is mandatrory.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        townLocationName:
          description: |
            Specific location name within the town.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        districtName:
          description: |
            Identifies a subdivision within a country sub-division.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        countrySubDivision:
          description: |
            Identifies a subdivision of a country such as state, region, county.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        country:
          description: |
            Nation with its own government.
            *Usage Rule:* If address lines are not used, this attribute is mandatrory.
          allOf:
            - $ref: '#/components/schemas/CountryCode'
    error_RFC7807_409_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_409_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_409_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    error_RFC7807_400_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_400_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_400_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    clientMessageInformation_405_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_405_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    error_RFC7807_403_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_403_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_403_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    error_RFC7807_404_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_404_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_404_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    partyDescription2:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description2\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postaladdress:
          description: |
            Postal Address of the party.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
    AccountIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum: 
        - AIIN
        - BBAN
        - CUID
        - UPIC
      example: 'AIIN'
    Max256Text:
      type: string
      maxLength: 256
      example: 'Text, maximum of 256 characters.'
    clearingSystemMemberIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Clearing System Member Identification\" for more details.
      type: object
      properties:
        memberId:
          description: |
            Identification of a member of a clearing system.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        clearingSystemIdentificationCode:
          description: |
            Identification of a clearing system, in a coded form as published in an external list.
          allOf:
            - $ref: '#/components/schemas/ClearingSystemIdentificationCode'
        clearingSystemIdentificationProprietary:
          description: |
            Identification code for a clearing system, that has not yet been identified in the list of clearing systems.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    clientMessageInformation_404_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_404_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    error_NG_401_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_401_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    MessageCode_409_PIIS: 
      description: Message codes defined for PIIS for HTTP Error code 409 (CONFLICT).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
    error_RFC7807_405_PIIS: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_405_PIIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_405_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    BICFI:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      example: 'ECBFDEFFFIM'
    CountryCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{2}'
      example: 'SE'
    error_NG_400_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_400_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    Max140Text:
      type: string
      maxLength: 140
      example: 'Text, maximum of 140 characters.'
    clientMessageInformation_400_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_400_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    amount:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Amount\" for more details.
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        amount:
          description: |
            The amount given with fractional digits, where fractions must be compliant to the currency definition. Up to 14 significant figures. Negative amounts are signed by minus.
            The decimal separator is a dot.
            Example: Valid representations for EUR with up to two decimals are:
            * 1056
            * 5768.2
            * -1.50
            * 5877.78
          type: string
          pattern: '-?[0-9]{1,14}(\.[0-9]{1,3})?'
    proxyAccountIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Proxy Account Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        typeCode:
          description: |
            Type of the proxy identification
          allOf:
            - $ref: '#/components/schemas/ProxyAccountTypeCode'
        typeProprietary:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        identification:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
    clientMessageInformation_403_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_403_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    ProxyAccountTypeCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - TELE
        - EMAL
        - DNAM
        - CINC
        - COTX
        - COID
        - CUST
        - DRLC
        - EIDN
        - EWAL
        - PVTX
        - LEIC
        - MBNO
        - NIDN
        - CCPT
        - SHID
        - SOSE
        - TOKN
        - UBIL
        - VIPN
        - BIID
      example: 'EMAL'
    MessageCode_ServiceUnspecific_409:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      enum: 
          - STATUS_INVALID
          - CHANGE_INVALID
      example: 'STATUS_INVALID'
    clientMessageInformation_409_PIIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_409_PIIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    FinancialInstitutionIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
    MessageCode_ServiceUnspecific_405:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_INVALID
      example: 'SERVICE_INVALID'
    MessageCode_ServiceUnspecific_404:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - RESOURCE_UNKNOWN
      example: 'RESOURCE_UNKNOWN'
    error_NG_405_PIIS: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_405_PIIS'
        _links:
          $ref: '#/components/schemas/links'
    BBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[a-zA-Z0-9]{1,30}' 
      example: 'BARC12345612345678'
    MessageCode_ServiceUnspecific_403:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_BLOCKED
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
      example: 'SERVICE_BLOCKED'
    MessageCode_ServiceUnspecific_401:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - CERTIFICATE_INVALID
        - ROLE_INVALID
        - CERTIFICATE_EXPIRED
        - CERTIFICATE_BLOCKED
        - CERTIFICATE_REVOKED
        - CERTIFICATE_MISSING
        - CLIENT_INVALID
        - CLIENT_INCONSISTENT
        - API_CONTRACT_ID_INVALID
        - SIGNATURE_INVALID
        - SIGNATURE_MISSING
        - ROLE_INVALID
        - PSU_CREDENTIALS_INVALID
        - CORPORATE_ID_INVALID
        - CONSENT_INVALID
        - CONSENT_EXPIRED
        - TOKEN_UNKNOWN
        - TOKEN_INVALID
        - TOKEN_EXPIRED
      example: 'CERTIFICATE_INVALID'
    MessageCode_ServiceUnspecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - FORMAT_ERROR
        - PARAMETER_NOT_CONSISTENT
        - PARAMETER_NOT_SUPPORTED
        - SERVICE_INVALID
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - RESOURCE_BLOCKED
        - TIMESTAMP_INVALID
        - PERIOD_INVALID
        - SCA_METHOD_UNKNOWN
        - SCA_INVALID
      example: 'FORMAT_ERROR'
    MessageCode_403_PIIS: 
      description: Message codes defined for PIIS for HTTP Error code 403 (FORBIDDEN).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
    MessageCode_400_PIIS: 
      description: Message codes defined for PIIS for HTTP Error code 400 (BAD_REQUEST).
      anyOf:
        - $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        - $ref: '#/components/schemas/MessageCode_PiisSpecific_400'
  parameters:
    HEADER_consentId_optional:
      name: Consent-ID
      in: header
      description: |
        This data element may be contained, if the payment initiation transaction is part of a session, i.e. combined AIS/PIS service.
        This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.
      required: false
      schema:
        $ref: '#/components/schemas/Max70Text'
      example: '123cons456'
    HEADER_bodyEncList:
      name: Body-Enc-List
      in: header
      description: |
          Contains a List of names of data elements/ attributes of the body which contain encrypted information
      required: false
      schema:
        type: string
      example: 'BODY'
    HEADER_bodyEncProfile:
      name: Body-Enc-Profile 
      in: header
      description: |
         Indicates the encryption profile used for the encryption of (parts of) the body.
      required: false
      schema:
        type: string
        enum:
          - JWE_CS
          - XML_ENC
      example: 'JWE_CS'
    HEADER_bodySigProfile:
      name: Body-Sig-Profile 
      in: header
      description: |
         Indicates the signature profile used for signing (parts of) the body. Shall be used if the body is signed.
      required: false
      schema:
        type: string
        enum:
          - JAdES_JS
          - XAdES
          - EMV_AC
      example: 'XAdES'
    HEADER_xJwsSignature:
      name: x-jws-signature
      in: header
      description: |
        The attribute x-jws-signature contains the JSON Web Signature.
      schema:
        type: string
      required: false # conditional
      example: 'eyJiNjQiOmZhbHNlLCJ4NXQjUzI1NiI6ImR5dFBwU2tKWXpoVGRQWFNXUDdqaFhnRzRrQ09XSVdHaWVzZHprdk5MelkiLCJjcml0IjpbInNpZ1QiLCJzaWdEIiwiYjY0Il0sInNpZ1QiOiIyMDIwLTEwLTI2VDExOjI2OjU3WiIsInNpZ0QiOnsicGFycyI6WyJ4LXJlcXVlc3QtaWQiLCJkaWdlc3QiXSwibUlkIjoiaHR0cDovL3VyaS5ldHNpLm9yZy8xOTE4Mi9IdHRwSGVhZGVycyJ9LCJhbGciOiJSUzI1NiJ9..NuGglWBtHcXavob2ZmW-PoSpMmhJS9U6z8zPqHFoE97vHI3z8wtaVdbwsj5WzgPjtVWUUnk8cxP4JjLXdwzwhhHB2uJ5FI4ZZGdSQQw-9pXPUx3cCJSzHmrgkJ-di-A4'
    HEADER_digest:
      name: Digest
      in: header
      description: |
        When API Client include a signature according to this signature profile, they also must include a \"Digest\" header as defined in [RFC3230]. 
        The \"Digest\" Header contains a Hash of the message body. If the message does not contain a body, the \"Digest\" header must contain the hash of an empty byte list.
        The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843]. 
      schema:
        type: string
      required: false # conditional
      example: 'SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A='
    HEADER_xRequestId:
      name: X-Request-ID
      in: header
      description: ID of the request, unique to the call, as determined by the initiating party.
      required: true
      schema:
        type: string
        format: uuid
      example: '99391c7e-ad88-49ec-a2ad-99ddcb1f7721'
  requestBodies: {}
  headers:
    ASPSP-Notification-Support:
      description: |
        true if the ASPSP supports resource status notification services.
        false if the ASPSP supports resource status notification in general, but not for the current request.
        Not used, if resource status notification services are generally not supported by the ASPSP.
        Shall be supported if the ASPSP supports resource status notification services.
      schema:
        type: boolean       
      required: false
      example: true
    X-Reference-API-Version:
      description: ID of the request, unique to the call, as determined by the initiating party.
      required: true
      schema:
        type: string
      example: '2.1.3'
    X-Reference-API-Document:
      description: |
        The name of the Implementation Guideline document, where the service is based on, e.g. \"Extended Payment Initiation Services\". 
      required: false
      schema:
        type: string
      example: 'Extended Payment Initiation Services'
    X-Request-ID:
      description: |
        ID of the request, unique to the call, as determined by the initiating party.
      required: true
      schema:
        type: string
        format: uuid
      example: '99391c7e-ad88-49ec-a2ad-99ddcb1f7721'
    X-Reference-API-Name:
      description: |
        \"Berlin Group openFinance API\" 
      required: false
      schema:
        type: string
      example: 'Berlin Group openFinance API'
    Location:
      description: |
        Location of the created resource.
      schema:
        type: string
        format: url
      required: false
      example: 'https://testbank.com/xs2a/v2/consents/account-access/123cons456'
  responses:
    decline_408:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support :
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Request Timeout
    decline_406:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support :
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Not Acceptable
    decline_403_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_403_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_403_PIIS'
    decline_405_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Method not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_405_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_405_PIIS'
    Ok_200_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      description: OK
      content:
        application/json:
          schema:
            type: object
            required:
              - fundsAvailable
            properties:
              fundsAvailable:
                description: |
                  Equals true if sufficient funds are available at the time of the request, false otherwise.
                type: boolean
    decline_409_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_409_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_409_PIIS'
    decline_401_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Unauthorised
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_401_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_401_PIIS'
    decline_415:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support :
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Unsupported Media Type
    decline_503:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support :
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Service Unavailable
    decline_400_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_400_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_400_PIIS'
    decline_404_PIIS:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support:
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_NG_404_PIIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error_RFC7807_404_PIIS'
    decline_500:
      headers:
        X-Reference-API-Name:
          $ref: '#/components/headers/X-Reference-API-Name'
        X-Reference-API-Document:
          $ref: '#/components/headers/X-Reference-API-Document'
        X-Reference-API-Version:
          $ref: '#/components/headers/X-Reference-API-Version'
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
        ASPSP-Notification-Support :
          $ref: '#/components/headers/ASPSP-Notification-Support'
      description: Internal Server Error
  examples: {}

